<!DOCTYPE html>
<html lang="es">

<!--Head-->
<%- include('../partials/head.ejs', {title: "Baggu: Login"}) %>


<body>

	<!--Header-->
	<%- include('../partials/header.ejs') %>

	<!--PARA MARCAR SI HAY ERRORES-->
	<% if ( locals.errors && errors.length > 0){ %>
	<p style="color: red">ERROR</p>
	<ul>
		<% for (let i=0; i<errors.length; i++){ %>
		<li>
			<%= errors[i].msg %>
		</li>
		<%	} %>
	</ul>
	<%}%>

        <main class="cuentaLogin">

			<!--Titulo-->
			<div class="tituloLogin">	<i class="fas fa-user"></i><h1>Login</h1>	</div>

			<!--Formulario Login-->
			<form action="/users/login" method="POST" class="campoLogin">
				
				<div class="subCampoLogin">
					<label for="email"> Email:</label>
					<input type="text" id="email" name="email" placeholder="Nombre">
				</div>
				<div class="subCampoLogin">
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" placeholder="Contraseña">
				</div>


				<button type="submit">Login</button>

			</form>

			

		</main>

		<!--Footer-->
		<%- include('../partials/footer.ejs') %>

</body>

</html>