<!DOCTYPE html>
<html lang="es">
	
	<!--Head-->
	<%- include('../partials/head.ejs', {title: "Baggu: Register"}) %>

    <body>
		
		<!--Header-->
    	<%- include('../partials/header.ejs') %>
		

		
        <form class="formularioRegister" method="POST" action="/register"> 
			
			<div class="logoPrincipal">
				<h1>Registeasdasfr</h1>
				<i class="fas fa-sign-in-alt"></i>
			</div>
			
			<div class="otrosDatos">
				<div class="icono">
					<i class="fas fa-user-check"></i>
					<label for="nombre">
						<span>Name</span>
						<input type="text" name="nombre" id="nombre">
					</label>
				</div>
				<div class="icono">
					<i class="fas fa-user-check"></i>
					<label for="apellido">
						<span>Surname</span>
						<input type="text" name="apellido" id="apellido">
					</label>
				</div>
				<div class="icono">
					<i class="fas fa-user"></i>
					<label for="usuario">
						<span>User</span>
						<input type="text" name="usuario" id="usuario">
					</label>
				</div>

				<div class="icono">
					<i class="fas fa-envelope"></i>
					<label for="email">
						<span>Email</span>
						<input type="email" name="email" id="email" autocomplete="off">
					</label>
				</div>

				<div class="icono">
					<i class="fas fa-lock-open"></i>
					<label for="contrasena">
						<span>Password</span>
						<input type="password" id="contrasena" name="contrasena">
					</label>
				</div>

				<div class="icono">
					<i class="fas fa-lock"></i>
					<label for="confirmar">
						<span>Confirm Password</span>
						<input type="password" name="confirmar" id="confirmar">
					</label>
				</div>

				<div class="icono">
					<i class="fas fa-phone-alt"></i>
					<label for="telefono">
						<span>Phone Number</span>
						<input type="text" name="telefono" id="telefono">
					</label>
				</div>
				<div class="fotoRegister">
					<!--<label for="myfile">Select a file:</label>-->
					<input type="file" id="myfile" name="myfile">
				</div>
			</div>
			<div class="Enviar">
				<button type="submit">Submit</button>
			</div>
		</form>


		<!--Footer-->
        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>