<!DOCTYPE html>
<html lang="es">
	
	<!--Head-->
	<%- include('../partials/head.ejs', {title: "Baggu: Register"}) %>

    <body>
		
		<!--Header-->
    	<%- include('../partials/header.ejs') %>
		
		<main class="main_register">

			<!--Form Register-->
			<form class="formulario_register"  action="/register/<%= data %>?_method=POST" method="POST"> 
				
					<div class="titulo_register">
						<h1>Registrarse</h1>
					</div>

					<ul class="ul_register">
						<li>
							<label for="name">
								<span>Name</span>
								<input type="text" name="name" id="name">
							</label></li>
						<li>
							<label for="surname">
								<span>Surname</span>
								<input type="text" name="surname" id="surname">
							</label></li>
						<li>
							<label for="username">
								<span>User</span>
								<input type="text" name="username" id="usuario">
							</label>
						</li>
						<li>
							<label for="email">
								<span>Email</span>
								<input type="email" name="email" id="email" autocomplete="off">
							</label>
						</li>
						<li>
							<label for="password">
								<span>Password</span>
								<input type="password" id="password" name="password">
							</label>
						</li>
						<!-- <li>
							<label for="confirmar">
								<span>Confirm Password <br></span>
								<input type="password" name="confirmar" id="confirmar">
							</label>
						</li> -->
						<li>
							Category: 
							<input type="text">
						</li>
					</ul>

				<div class="submit_register">
					<button type="submit">Submit</button>
				</div>
			</form>
			
		</main>
		


		<!--Footer-->
        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>