<!DOCTYPE html>
<html lang="es">
	
	<!--Head-->
	<%- include('../partials/head.ejs', {title: "Baggu: Register"}) %>

    <body>
		
		<!--Header-->
    	<%- include('../partials/header.ejs') %>
		
		<main class="main_register">

			<!--Form Register-->
			<form class="formulario_register" method="POST" action="/register"> 
				
					<div class="titulo_register">
						<h1>Registrarse</h1>
					</div>

					<ul class="ul_register">
						<li>
							<label for="nombre">
								<span>Name</span>
								<input type="text" name="nombre" id="nombre">
							</label></li>
						<li>
							<label for="apellido">
								<span>Surname</span>
								<input type="text" name="apellido" id="apellido">
							</label></li>
						<li>
							<label for="usuario">
								<span>User</span>
								<input type="text" name="usuario" id="usuario">
							</label>
						</li>
						<li>
							<label for="email">
								<span>Email</span>
								<input type="email" name="email" id="email" autocomplete="off">
							</label>
						</li>
						<li>
							<label for="contrasena">
								<span>Password</span>
								<input type="password" id="contrasena" name="contrasena">
							</label>
						</li>
						<li>
							<label for="confirmar">
								<span>Confirm Password <br></span>
								<input type="password" name="confirmar" id="confirmar">
							</label>
						</li>
						<li>
							<label for="telefono">
								<span>Phone Number</span>
								<input type="text" name="telefono" id="telefono">
							</label>
						</li>
						<li>
							<label for="myfile">
								<!--<label for="myfile">Select a file:</label>-->
								<input type="file" id="myfile" name="myfile">
							</label>
						</li>
					</ul>

				<div class="submit_register">
					<button type="submit">Submit</button>
				</div>
			</form>
			
		</main>
		


		<!--Footer-->
        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>