<!DOCTYPE html>
<html lang="en" >
    <!--Head-->
    <%- include('../partials/head.ejs', {title: "Baggu: User"}) %>
    
    <body>
        
        <!--Header-->
        <%- include('../partials/header.ejs') %>
        
        <main >
            
            <%- include('../partials/userDetail_partial.ejs', {id: user.id, avatar: user.avatar, username: user.username, name: user.name, surname: user.surname, email: user.email, password: user.password, category: user.category}) %>
            
        </main>
        
        <!--Footer-->
        <%- include('../partials/footer.ejs') %>
        
    <body>
            

</body>
</html>