/*
 _____    _____    _____ 
/ ____|  / ____|  / ____|
| |      | (___   | (___  
| |       \___ \   \___ \ 
| |____   ____) |  ____) |
\_____|  |_____/  |_____/ 

*/


/*
	PALETA DE COLORES

https://coolors.co/00916e-5386e4-525998-141e29-826754	

-para Login - Registro - Carrito **** #826754 
-para Envases Descartables **** #5386E4 
-para Papeleria **** #00916E 
-para Higiene **** #525998 
-para Footer- Contacto- Empresa **** #141E29 
*/


/*------------------------------------------------------------Dedicado a detail_product.ejs----------------------------------------------------------------------*/

.container_product_detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--color-sexto);
    width: 95vw;
    margin: 1rem auto;
    font-size: 20px;
}

.title_product_detail{
    font-size: larger;
    color: white;
    width: fit-content;
    margin: 1rem auto;
}.title_product_detail_text{}

.image_detail{
    width: 30vw;
    margin: 1rem auto;
}.image_detail_file{
    width: 100%;
    border-radius: 10px;
}

.description_detail{
    color: white;
    width: fit-content;
    margin: 1rem auto;
}.description_detail_text{}

.brand_detail{
    color: white;
    width: fit-content;
    margin: 1rem auto;
}.brand_detail_text{}

.summary_detail{
    margin: auto;
    width: 80vw;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.price_detail{
    background-color: whitesmoke;
    padding: auto 5px;
    box-shadow: 5px 5px black;
    width: fit-content;
    margin: auto;
    color: green;
    font-weight: bolder;
    font-size: 24px;
}.price_detail_text{}

.button_detail{
    width: fit-content;
    margin: 1rem auto;
}

html {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Nunito', sans-serif;


    /*	reset para rems -62.5% =10px de 16... esta cuenta es para hacer que un rem valga 10px	*/
        font-size: 62.5%;
        box-sizing: border-box;

    /*	Template de colores	*/
        --color-primero: #5386E4;
        --color-segundo: #00916E;
        --color-tercero: #525998;
        --color-cuarto: #add8e6;
        --color-quinto: whitesmoke;
        --color-sexto: #141E29;


    /*	Estandar de bordes 	*/
        --border-radius: 12px;

    /*	Para que se mueva suaaaave...	*/
        scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2;
}
/*
h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}
*/

  

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.is-danger{
    border: 2px solid red;
    border-radius: 4px;
}

.feedback{
    color: red;
}



/*------------------------------------------------------------Transicion de presentacion----------------------------------------------------------------------*/


/*	para usarlo tienen que pegar este div apenas arranca el body <div class="bro">BAGGU</div>	, obsiomente pueden cambiar el contenido por una imagen o algo	*/

.bro {
    position: fixed;
    top: 0vh;
    left: 0vw;
    text-align: center;
    line-height: 100vh;
    width: 100vw;
    background-image: url('../img/logos/logoLandscape.png');
    background-color: whitesmoke;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    font-size: larger;
    animation: fade 2s ease forwards;
}

@keyframes fade {
    from {
        opacity: 1;
        display: block;
        pointer-events: all;
    }
    to {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}


/*------------------------------------------------------------Dedicado a 404.ejs----------------------------------------------------------------------*/

.NFcontainer {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.image_404 {
    width: 80%;
    margin: 5% 10%;
}


/*
HOME
  _    _    ____    __  __   ______ 
 | |  | |  / __ \  |  \/  | |  ____|
 | |__| | | |  | | | \  / | | |__   
 |  __  | | |  | | | |\/| | |  __|  
 | |  | | | |__| | | |  | | | |____ 
 |_|  |_|  \____/  |_|  |_| |______|
*/


/*------------------------------------------------------------Dedicado a Index.ejs----------------------------------------------------------------------*/


.carousel{
    margin: 20px 30px;
    box-shadow: 5px 5px 8px #888888;
    position: relative;
    right: 6px;
}

.imageCarousel {
    height: 50vh;
}

/* Container principal de grupos productos*/
.containerMainProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 300%;
    margin-top: 15px;
}

/* 3 Columnas de Grupo Productos*/
.boxProduct1,
.boxProduct2,
.boxProduct3 {
    display: flex;
    flex-direction: column;
    width: 92vw;
    height: 22.5vh;
    justify-content: center;
    box-shadow: 5px 5px 8px #888888;
    border-radius: 5px;
    margin: 7px;
    position: relative;
    right: 8px;
}

a.titleIndex1 { 
    font-weight: lighter;
    font-size: 40px; 
    font-family: 'Staatliches', cursive; 
    line-height: 50px; 
    text-align: center; 
    text-decoration: unset;
    text-decoration-line: none;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke: 2px var(--color-primero);
} 
a.titleIndex2 { 
    font-weight: lighter;
    font-size: 40px; 
    font-family: 'Staatliches', cursive; 
    line-height: 50px; 
    text-align: center; 
    text-decoration: unset;
    text-decoration-line: none;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke: 2px var(--color-segundo);
} 
a.titleIndex3 { 
    font-weight: lighter;
    font-size: 40px; 
    font-family: 'Staatliches', cursive; 
    line-height: 50px; 
    text-align: center; 
    text-decoration: unset;
    text-decoration-line: none;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke: 2px var(--color-tercero);
}

a.titleIndex1:hover{
    font-size: 45px;
    color: whitesmoke;
    text-decoration-line: none;
}
a.titleIndex2:hover{
    font-size: 45px;
    color: var(--color-segundo);
    text-decoration-line: none;
}
a.titleIndex3:hover{
    font-size: 45px;
    color: var(--color-tercero);
    text-decoration-line: none;
}


.boxProduct1 {  background-color: var(--color-primero); }
.boxProduct1:hover{ 
    background-image: url('../img/index/Vaso_colores.jpg'); 
    background-size: contain;
    border: solid #F0F7EE 1px;
}


.boxProduct2 {  background-color: var(--color-segundo); }
.boxProduct2:hover{ 
    background-image: url('../img/index/paperBG.jpg'); 
    background-size: contain;
}


.boxProduct3 {  background-color: var(--color-tercero); }
.boxProduct3:hover{ 
    background-image: url('../img/index/Higiene_limpieza.jpg'); 
    background-size: contain;
}


/*Contenedor Titulo de Grupo Productos*/
.titleBox {
    display: flex;
    width: 100%;
    height: 25%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}


/*Media Query a Laptop*/

@media (min-width: 500px) {
    
    .imageBox {
        display: flex;
        width: 20vw;
        height: 60%;
        justify-content: left;
        margin-left: 2vw;
    }

    .imgMainProduct1,
    .imgMainProduct2,
    .imgMainProduct3 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    }
};


/*------------------------------------------------------------Dedicado a Acerca-de / Empresa----------------------------------------------------------------------*/

main.aboutUs {
    display: flex;
}

h1.titleEmpresa {
    text-align: center;
    position: relative;
    margin: 1rem auto;
    box-shadow: 0px 5px 0px -1px #EFEFEF;
}

article.empresa {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    width: 95vw;
    margin: 2rem auto;
    background-color: lightgray;
    box-shadow: 5px 5px 8px #888888;
    
}

h3.aboutUs {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

p.aboutUs {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    padding-right: 20px;
}

div.boxImgEmpresa {
    padding: 10px;
}

div.boxTextEmpresa {
    padding: 10px;
    margin-right: 20px;
    
}

@media (min-width: 769px) and (orientation: landscape) {
    article.empresa {
        flex-direction: row;
    }

    div.boxImgEmpresa {
        padding: 10px;
        margin-left: 20px;
    }
}

/*------------------------------------------------------------Dedicado a Contacto / Empresa----------------------------------------------------------------------*/



h3.info {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

div.info {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    padding-right: 20px;
}

a.Infolink {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    padding-right: 20px;
}

/************Login y registro*********/


/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

.usuarioHeader {
    width: 80vw;
    height: 20rem;
    text-align: right;
    padding: 2rem;
}

.usuarioHeader h3 {
    display: none;
}

.dis {
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/*Barra de busqueda*/

.busqueda {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.busqueda input {
    display: none;
}


/****Medidas para pantallas superior 1024px HEADER*****/

@media only screen and (min-width: 1024px) {
    /*header*/
    .headerTotal {
        width: 100%;
        height: 20rem;
    }
    /*Login y registro*/
    /*Paleta de Colores para Login - Registro - Carrito **** #826754 */
    .usuarioHeader {
        display: flex;
        flex-flow: row-reverse nowrap;
        align-content: center;
        align-items: center;
        padding: 3rem;
    }
    .usuarioHeader h3 {
        display: inline-block;
        margin-right: 1rem;
    }
    .usuarioHeader h3 a {
        text-decoration: none;
        color: black;
    }
    .usuarioHeader i {
        font-size: 3rem;
    }
    /*Logo*/
    .logoHeader img {
        height: 18rem;
    }
    /*Barra de busqueda*/
    .busqueda {
        width: 300px;
        display: flex;
        flex-flow: row nowrap;
        margin-right: auto;
        margin-left: auto;
    }
    .busqueda input {
        display: inline-block;
    }
    .busqueda input#search {
        width: 300px;
        height: 50px;
        background: rgb(241, 240, 240);
        border: 0.2rem solid black;
        font-size: 2rem;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
    }
    .busqueda .icon {
        position: relative;
        font-size: 2.3rem;
        margin-left: -4.3rem;
        padding: 0.2rem;
        z-index: 1;
        color: black;
    }
    .busqueda input#search:hover,
    .busqueda input#search:focus,
    .busqueda input#search:active {
        outline: none;
        background: #ffffff;
    }
}




/*
PARTIALS
  _____               _____    _______   _____              _         _____ 
  |  __ \      /\     |  __ \  |__   __| |_   _|     /\     | |       / ____|
  | |__) |    /  \    | |__) |    | |      | |      /  \    | |      | (___  
  |  ___/    / /\ \   |  _  /     | |      | |     / /\ \   | |       \___ \ 
  | |       / ____ \  | | \ \     | |     _| |_   / ____ \  | |____   ____) |
  |_|      /_/    \_\ |_|  \_\    |_|    |_____| /_/    \_\ |______| |_____/ 
*/


/*------------------------------------------------------------Dedicado a header.ejs-------------------------------------------------------------*/

.header_container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 30px;
    border-bottom:grey solid 1px;
    box-shadow: 0px 5px 2px -3px #CCAF6E;
}

.header_subcontainer1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50%;
    justify-content: space-between;
    padding: 10px;
}

.header_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 9px;
    margin-left: 9px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid grey;
    border-radius: 5px;
}

.header_button:hover {
    background-color: #4CAF50;
    color: white;
}

.header_logo {
    display: block;
    box-sizing: border-box;
    height: 60px;
}
.header_logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#header_logo {
    width: 130px;
}

.header_profile {
    height: 50px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header_profile {
    width: 50px;
    border-radius: 5%;
}

.header_subcontainer2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.header_search {
    display: block;
    box-sizing: border-box;
    margin: 0% auto;
    width: 80%;
    align-items: center;
}



.header_searchBox {
    width: 100%;
    margin: 0%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border: grey solid 1px;
    border-radius: 5px;
}

/*  Pop-up Perfil   */

/* on: flex, of: none */

.header_popUp {
    transition-duration: .25s;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    justify-items: center;
    background-color: var(--color-sexto);
    right: -47.5vw;
    top: 16vh;
    width: 45vw;
    height: fit-content;
    padding: 2%;
    z-index: 100;
    border: black solid 1px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 66px -26px #FFFFFF;
    
}

.profile_popUpAvatar {
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 5px;
    width: 50%;
    box-shadow: 5px 5px gold;
}
.profile_mainInfo {
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: 1rem auto;
    background-color: rgba(219, 216, 219, 0.4);
    border-radius: 4px;
    font-size: small;
    color: white;
    text-align: center;
}
.header_popUp ul {
    background-color: rgba(219, 216, 219, 0.4);
    border-radius: 4px;
}

li.option {
    text-decoration: unset;
    text-decoration-line: none;
    color: white;
}

.header_popUp ul li{font-size: small;}
.profile_name {
    width: fit-content;
    margin: auto;
    color: white;
}

@media all and (min-width: 375px){
    .profile_mainInfo {font-size: medium;}
    .header_popUp ul li{font-size: medium;}
}
@media all and (min-width: 768px){
    .header_popUp {width: 30vw;}
}

/*  Header burguer  */


/* on: flex, of: none */

.header_burguer_popUp {
    transition-duration: .25s;
    position: fixed!important;
    height: 100%;
    width: 45vw;
    left: 0vw;
    top: 0vh;
    padding-top: 1vh;
    padding-left: 2vw;
    overflow: auto;
    background-color: var(--color-sexto);
    z-index: 1;
    box-shadow: inset 0px 0px 66px -26px #FFFFFF;
}

.textMenuBur {
    color: white;
    font-family: 'Roboto', sans-serif;

}

.header_burguer_popUp ul {
    margin: 0%;
    background-color: rgba(219, 216, 219, 0.4);
    border-radius: 6px;
    width: 40vw;
}

.header_burguer_popUp ul li {
    margin: 15px 0%;
    font-size: small;
}

@media all and (min-width: 375px){
    .header_burguer_popUp{
        width: 45vw
    }
    .header_burguer_popUp ul{
        width: 40vw;
    }
    .header_burguer_popUp ul li{
        font-size: medium;
    }
}
@media all and (min-width: 425px){
    .header_burguer_popUp{
        width: 40vw
    }
    .header_burguer_popUp ul{
        width: 35vw;
    }
    .header_burguer_popUp ul li{
        font-size: medium;
    }
}
@media all and (min-width: 768px){
    .header_burguer_popUp{
        width: 30vw
    }
    .header_burguer_popUp ul{
        width: 25vw;
    }
    .header_burguer_popUp ul li{
        font-size: medium;
    }
}
@media all and (min-width: 1023px){
    .header_burguer_popUp{
        width: 25vw
    }
    .header_burguer_popUp ul{
        width: 20vw;
    }
    .header_burguer_popUp ul li{
        font-size: 2.2rem;
    }
}





/*------------------------------------------------------------Dedicado a Footer----------------------------------------------------------------------*/


/*Paleta de Colores para Footer- Contacto- Empresa **** #141E29 */


/*contenedor padre*/

footer {
    display: flex;
    width: 100%;
    background-color: #141E29;
    position: absolute;
    right: 1px;
    margin-top: 30px;
}

.containerFooter {
    position: relative;
    left: 0vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

/*3 contenedores*/

.footerBox1 {
    padding: 50px;
    width: 100%;
    height: 220px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
   
}

.footerBox2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 220px;
    flex-grow: 1;
    
}

.footerBox3 {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 220px;
    
}


/*Estilos de info*/

.contacto {
    color: white;
    font-size: 1.20rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/*Contenedor de Iconos Social Media*/

.boxIconSocial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}


/*Estilos de Iconos Social Media*/

.imgSocial {
    border-radius: 10%;
}

.imgSocial:hover {
    border: 3px solid white;
}


/*Contenedor de Icono Baggu Linkeado y Legales*/

.boxIconLogoBaggu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}


/*Estilos Legales*/

.legales {
    font-size: 0.8rem;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}


/*Contenedores Botones*/

.boxButtonContact,
.boxButtonUs {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 30px;
}


/*Estilo en botones de footer*/

#buttonContact,
#buttonUs {
    background-color: cadetblue;
    width: 30%;
    height: 40%;
    text-align: center;
}

#buttonContact:hover,
#buttonUs:hover {
    background-color: turquoise;
}


/*Palabras Linkeadas Contacto y Botones*/

.linkInfo {
    text-decoration: unset;
    text-align: center;
    color: whitesmoke;
}


/*Media Queries hacia Laptop*/

@media (min-width: 769px) and (orientation: landscape) {
    .containerFooter {
        flex-direction: row;
    }
    .footerBox3 {
        display: flex;
    }
    .footerBox1 {
        flex-direction: row;
        justify-content: flex-start;
    }
    .contacto {
        text-align: left;
    }
    .footerBox1,
    .footerBox2,
    .footerBox3 {
        width: 33%;
        flex-grow: 1;
    }
}





/*------------------------------------------------------------Dedicado a userDetail_partial.ejs----------------------------------------------------------------------*/

.formContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem auto;
    background-color: var(--color-cuarto);
    border-radius: var(--border-radius);
    padding: 5%;
}

.avatar_container_UDP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem auto;
}

.avatar_UDP {
    width: 20vw;
    box-shadow: 5px 5px;
    margin: auto;
}

.individual_UDP ul{
    font-size: 20px;
    width: fit-content;
    margin: auto;
}
.individual_UDP ul li{
    margin: 0.5rem auto;
}

.info_UDP {
    margin: auto;
}
.button_profile{
    width: fit-content;
    margin: 0.5rem auto;
}


/*------------------------------------------------------------Dedicado a product_partial.ejs----------------------------------------------------------------------*/

.product_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 5% 5%;
    box-shadow: 5px 5px 8px #888888;
    background-color: var(--color-sexto);
}

.product_image_container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 60%;
}

.product_image {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    align-self: center;
}

.product_title {
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    align-self: center;
    font-size: 2rem;
    margin: 2% 5%;
    padding: 2% 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.product_brand {
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    align-self: center;
    font-size: larger;
    margin: 2% 5%;
    padding: 2% 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.product_price {
    display: block;
    box-sizing: border-box;
    margin: 2% 5%;
    padding: 2% 5%;
    color: #00916E;
    font-weight: bold;
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
}

.product_options {
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
}

.product_icon {
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 5%;
}

@media all and (min-width: 426px) {
    .product_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 12px;
        width: 40%;
        margin: 5% .99%;
    }
}

@media all and (min-width: 768px) {
    .product_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 12px;
        width: 20%;
        margin: 5% .99%;
    }
}


/*------------------------------------------------------------Dedicado a detalle_partial.ejs----------------------------------------------------------------------*/


/*
-Paleta de Colores para Envases Descartables **** #5386E4 
-Paleta de Colores para Papeleria **** #00916E 
-Paleta de Colores para Higiene **** #525998 
*/

.tipo_producto {
    display: block;
    box-sizing: border-box;
    margin: 3%;
    background-color: var(--color-sexto);
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    height: 6vh;
}

.producto_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3%;
    border: red solid 2 px;
}

.imagen_detalle {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    border:violet solid 2 px;
}

.img_detalle {
    display: block;
    box-sizing: border-box;
    width: 280px;
    margin: 12px auto;
    border: green solid 2 px;
}

@media all and (min-width: 768px) {
    .producto_container {
        flex-direction: row;
        align-self: center;
    }
    .imagen_detalle {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 30%;
    }
    .img_detalle {
        display: block;
        box-sizing: border-box;
        align-content: center;
        width: 220px;
    }
    .descripcion_detalle {
        width: 30%;
        margin: 1%;
    }
    .resumen_detalle {
        flex-direction: column;
        width: 30%;
        margin: 1%;
    }
    .texto_detalle {
        font-size: smaller;
    }
}

.descripcion_detalle {
    display: block;
    box-sizing: border-box;
    height: 30vh;
    color: black;
}

.resumen_detalle {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
}

.cantidad_detalle {
    display: block;
    box-sizing: border-box;
    margin: 2% 10%;
}

.precio_detalle {
    display: block;
    box-sizing: border-box;
    margin: 2% 10%;
    color: green;
    font-weight: bold;
    font-size: large;
}

.comprar_detalle {
    display: block;
    box-sizing: border-box;
    margin: 2% 10%;
}

.compartir_detalle {
    display: block;
    box-sizing: border-box;
    margin: 2% 10%;
}

.subtitulo_detalle {
    color: black;
    font-size: large;
    text-align: left;
    font-weight: bold;
}

.texto_detalle {
    margin: 2%;
}


/*
PRODUCTS
  _____    _____     ____    _____    _    _    _____   _______    _____ 
 |  __ \  |  __ \   / __ \  |  __ \  | |  | |  / ____| |__   __|  / ____|
 | |__) | | |__) | | |  | | | |  | | | |  | | | |         | |    | (___  
 |  ___/  |  _  /  | |  | | | |  | | | |  | | | |         | |     \___ \ 
 | |      | | \ \  | |__| | | |__| | | |__| | | |____     | |     ____) |
 |_|      |_|  \_\  \____/  |_____/   \____/   \_____|    |_|    |_____/                                                                     
*/


/*------------------------------------------------------------Dedicado a productos.ejs----------------------------------------------------------------------*/

.background_image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('/img/prueba/bc.jpg');
    width: 100hv;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 3;
  
}

.products_container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    
}

.products_subcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2%;
    padding: 0px;
    
}

@media all and (min-width: 426px) {
    .products_subcontainer {
        display: flex;
        flex-wrap: wrap;
        margin: 2% 2%;
        padding: 0px;
        justify-content: center;
    }
}


/*------------------------------------------------------------Dedicado a carrito.ejs----------------------------------------------------------------------*/


/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

.carrito_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--color-cuarto);
    width: 80%;
    margin: auto;
    border-radius: 12px;
}

.subheader_carrito {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #9dc2cf;
    padding: 12px;
}

.logo_carrito {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    width: auto;
}

.logo_posta_carrito {
    display: block;
    box-sizing: border-box;
    font-size: 60px;
}

.titulo_carrito {
    display: block;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
    border-bottom: solid black 1px;
    width: 100%;
    align-self: center;
    align-content: center;
}

.titulo_escrito_carrito {
    display: block;
    box-sizing: border-box;
    align-self: center;
    width: fit-content;
    margin: auto;
}

.contenido_carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.producto_carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.imagen_carrito {
    display: flex;
    flex-wrap: wrap;
}

.imagen_posta_carrito {
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: 5px auto;
}

.descripcion_carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px;
}

.nombre_producto {
    font-size: x-large;
    font-weight: bold;
}

.botones_individuales_carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cantidad_carrito {
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 6px;
    background-color: #9dc2cf;
    border: black solid 3px;
    border-radius: 12px;
    border-left: black;
    border-top: black;
}

.eliminar_producto_carrito {
    display: block;
    box-sizing: border-box;
    margin: auto;
    align-self: center;
}

.boton_eliminar_carrito {
    border: none;
    background-color: transparent;
}

.tamaño_icono_delete_carrito {
    font-size: 30px;
}

.botones_final_carrito {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
}

.borrar_carrito {
    margin-left: 25%;
    margin-right: 25%;
}

@media all and (min-width: 768px) {
    .contenido_carrito {
        flex-direction: row;
    }
    .producto_carrito {
        flex-direction: row;
    }
    .imagen_carrito {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
    }
    .imagen_posta_carrito {
        display: block;
        box-sizing: border-box;
        margin: auto;
    }
    .descripcion_carrito {
        width: 30%;
    }
    .botones_individuales_carrito {
        flex-direction: row;
        width: 33%;
    }
    .eliminar_producto_carrito {
        margin-left: 5%;
    }
}


/*
USERS 
  _    _    _____   ______   _____     _____ 
 | |  | |  / ____| |  ____| |  __ \   / ____|
 | |  | | | (___   | |__    | |__) | | (___  
 | |  | |  \___ \  |  __|   |  _  /   \___ \ 
 | |__| |  ____) | | |____  | | \ \   ____) |
  \____/  |_____/  |______| |_|  \_\ |_____/ 
*/


/*------------------------------------------------------------Dedicado a Register.ejs----------------------------------------------------------------------*/

.main_register {
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    background-color: var(--color-cuarto);
    margin: auto;
}
.titulo_register {
    font-size: xx-small;
}
.formulario_register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding: 2%;
}

.titulo_register {
    display: block;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
}


/*	con esta pavada podes cambiar los puntitos del ul por emojis! https://emojipedia.org/	pero hay que setear el list_style_type a none	*/

li:before {
    content: '\1F374';
    margin-left: -20px;
    margin-right: 10px;
}

.ul_register {
    list-style-type: none;
}

.submit_register {
    margin: auto;
}


/*------------------------------------------------------------Dedicado a Login.ejs----------------------------------------------------------------------*/

/*General*/
.cuentaLogin {
    background-color: var(--color-cuarto);
    margin: 1vh auto;
    border-radius: var(--border-radius);
}

/*Titulo*/

.tituloLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid black;
    
    margin-right: auto;
    margin-left: auto;
}

.tituloLogin i {
    font-size: 3.2rem;
}


/*Formulario*/

.campoLogin {
    padding: 2rem;
    
}

.subCampoLogin {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.subCampoLogin input {
    border-radius: 10px;
    -webkit-box-shadow: 9px 9px 5px -7px rgba(219, 216, 219, 1);
    -moz-box-shadow: 9px 9px 5px -7px rgba(219, 216, 219, 1);
    box-shadow: 9px 9px 5px -7px rgba(219, 216, 219, 1);
}

.subCampoLogin input:hover {
    background-color: #dbd8db;
    -webkit-box-shadow: 9px 13px 9px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 13px 9px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 13px 9px -7px rgba(0, 0, 0, 0.75);
}

.subCampoLogin label {
    font-weight: bold;
}


/*Botones*/

.botonLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    align-content: center;
}

.botonLogin button {
    margin-right: 1rem;
    border: 0;
    background-color: #826754;
    font-size: 2rem;
}

.botonLogin button:hover {
    font-weight: bold;
}

.botonLogin button:hover~i {
    color: white;
}

.botonLogin i {
    font-size: 3.2rem;
}

button {
    outline: none;
}


/* Checkbox */



.animado {
    margin-top: 3rem;
    margin-left: 1.2rem;
}

.animado label {
    padding-left: 2rem;
    position: relative;
}

.animado label:before {
    content: '';
    border: solid 1px black;
    border-radius: 5px;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    left: -10px;
    transition: all 0.2s;
    transform: rotate(0deg);
}

[type="checkbox"]:checked+label:before {
    border-color: white;
    color: black;
    content: '\f00c';
    /* font-family: "Font Awesome 5 Free"; */
    transform: rotate(360deg);
    padding-left: .3rem;
    font-size: smaller;
}


/**Pantallas grandes**/

@media only screen and (min-width: 768px) {
    .cuentaLogin{
        width: 80vw;
    }
    /*Formulario*/
    .subCampoLogin {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .recordarmeLogin {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    /*Botones*/
    .botonLogin {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .campoLogin{
        font-size: 25px;
    }
    /*General*/
    .cuentaLogin {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }
    /*Titulo*/
    .tituloLogin {
        margin-bottom: 7rem;
    }
    /*Formulario*/
    .subCampoLogin:first-child {
        margin-bottom: 4rem;
    }
    .subCampoLogin {
        width: 50%;
    }
    .recordarmeLogin {
        width: 50%;
    }
}


/*------------------------------------------------------------Dedicado a edicion_users.ejs----------------------------------------------------------------------*/


.formContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem auto;
    background-color: var(--color-cuarto);
    border-radius: var(--border-radius);
    padding: 5%;
}

.title_edicion_users {
    margin: 0% auto;
    height: fit-content;
    border-bottom: var(--color-tercero) dotted 1px;
}

.form_edit_users{
    margin: 0%;
    margin: auto;
    
}

.button_edicion_users {
    margin: auto;
}


/*------------------------------------------------------------Dedicado a list_user.ejs----------------------------------------------------------------------*/

#searchUser{
    padding: 1rem;
    background-color: var(--color-cuarto);
    border-radius: var(--border-radius);
    width: fit-content;
    margin: 1rem auto;
}

#title_list{
    width: fit-content;
    margin: 1rem auto;
    
}

.section_user_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content_user_list {
    display: block;
    box-sizing: border-box;
    box-shadow: 5px 5px 8px #888888;

    border-radius: 2px;
    margin: 2vw auto;
    background-color: var(--color-cuarto);
    width: 40vw;
    
}

.info_list_user {
    margin: 8px auto;
    width: fit-content;
    font-size: small;
}

.user_list_image {
    width: 20vw;
}

/*------------------------------------------------------------Dedicado a list_user.ejs----------------------------------------------------------------------*/

div.logoPrincipal {
    background-color: var(--color-tercero);
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

div.otrosDatos {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 5px 60px;
    padding: 10px 100px 10px;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow: 5px 5px 9px -1px #000000;

}