<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggu: Acerca-de</title>
    <link rel="shortcut icon" type="image/png" href="../media/photo5177449313322772614.jpg">
    <link rel="stylesheet" href="/css/styles.css"><!--Hoja de estilos en public-->
</head>
<body>
    <h1>Acerca de:</h1>
    <p id="acerca-de">La tematica del sitio de este grupo es venta de <em>productos gastronomicos descartables</em>,<br> apuntando al rubro gastronomico en general, ya sean restaurantes, bares, cafes, etc. La idea es construir un sitio en donde el usuario pueda consultar productos, precios, contactos y demas.<br> Pero a su vez que se sienta comodo y disfrute de una interfaz limpia e intuitiva.</p>
    <ol><a href="http://localhost:3000/">Volver</a></ol>
    
</body>
</html>