<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggu: Acerca-de</title>
</head>
<style>
    p {
  color: navy;
  text-indent: 30px;
}
</style>
<body>
    <h1>Acerca de:</h1>
    <p>La tematica del sitio de este grupo es venta de productos gastronomicos descartables, apuntando al rubro gastronomico en general, ya sean restaurantes,</p>
    <p> bares, cafes, etc. La idea es construir un sitio en donde el usuario pueda consultar productos, precios, contactos y demas.</p>
    <p> Pero a su vez que se sienta comodo y disfrute de una interfaz limpia e intuitiva.</p>
    <ol><a href="index.html">Volver</a></ol>
    
</body>
</html>