<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <p>logo    -     Barra Buesqueda    -     Iconos</p>
    </header>
    <h1> Productos de body</h1>

    <footer>
        <div class="footer-box">
           <div class="footer-info"> 
           <div class="contacto">Direccion:</div>
           <div class="contacto">Localidad:</div>
           <div class="contacto">Telefonos:</div>
           <div class="contacto">Email:</div>
           <div class="contacto">Whatsapp:</div>
           <div class="contacto">Horarios</div>
           </div>
        </div>   
        <div class="footer-box">
            
           <div>
               <div class="footer-social">
               <img src="img/LogoWapp.png" alt="Logo Whatsapp" width="70px" height="70px">
               <img src="img/LogoFace.png" alt="Logo Whatsapp" width="50px" height="50px">
               <img src="img/LogoInstagram.png" alt="Logo Whatsapp" width="60px" height="60px">
               </div>

           </div>
           
        </div>
        <div class="footer-box">
            
           <div class="contacto"></div>
           
        </div>
        

    </footer>
    
</body>
</html>