<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="autor" content="">

		<title></title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="font/css/fontawesome.css" rel="stylesheet">
   		<link href="font/css/brands.css" rel="stylesheet">
        <link href="font/css/solid.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    	
    	
    </head>

    <body>
    	<header class="headerTotal">
            <div class="logoHeader">
                <img src="media/Logos/Logo 1.png" alt="Logo Baggu">
            </div>
            <div class="usuarioHeader">
                <span><i class="fas fa-user"></i></span> <h3><a href="#">Login</a> o <a href="#">Registrarse</a></h3> 

				<div class="busqueda">
					<input type="search" id="search" placeholder="Search..." />
					<span class="icon"><i class="fa fa-search"></i></span>
				</div>
            </div>
		</header>
		<hr>


    	
		<script src="js/bootstrap.min.js"></script>
    </body>

</html>