<!DOCTYPE html> <!--Version HTML 5--> 
<html lang="en"><!--Contenido de programacion en ingles-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggu: Home</title>
    <link rel="shortcut icon" type="image/png" href="../media/photo5177449313322772614.jpg">
    <link rel="stylesheet" href="/css/styles.css"> <!--Hoja de estilos en carpeta public-->
</head>

<body>
    <header>
        <div class="general">
            <div>
                <h1 class="caja1"> 1 </h1>
            </div>
            
            <div>
                <p class="caja2"> 2 </p>
            </div>

            <div>
                <p class="caja3"> 3 </p>
            </div>
            
        </div>
    

    </header>

    <main>
        <div class="caja4">

        </div>

        <div>
            <article class="producto"></article>
            <article class="producto"></article>
            <article class="producto"></article>
        </div>

        <div>
            <h2 style="color:rgb(255,0,0)" >Bienvenido, aqui tiene una lista de opciones para nuestro sitio:</h2>
                 <ul>
                <li><a href="http://localhost:3000/acerca-de">Acerca de nosotros.</a></li>
             <li><a href="http://localhost:3000/contacto">Contacto.</a></li>
                <li><a href="http://localhost:3000/productos">Productos.</a></li>
        
            </ul>
        </div>
        
    </main>
    
    <footer>
        <div class="footer">

        </div>

    </footer>

    

</body>
</html>