<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggu: Home</title>
    <link rel="stylesheet" href=" ../style.css">
</head>
<body>
    <h1 align="center" class= "subrayado arial">Baggu</h1>
    <h2 style="color:rgb(255,0,0)" >Bienvenido, aqui tiene una lista de opciones para nuestro sitio:</h2>
    <ul>
        <li><a href="acerca-de.html">Acerca de nosotros.</a></li>
        <li><a href="contacto.html">Contacto.</a></li>
        <li><a href="productos.html">Productos.</a></li>
        
    </ul>

</body>
</html>