<script src="/js/headerScripts.js"></script>	

<section class="header_container">

    <!--    Header  -->
    <div class="header_subcontainer1">
        <!--Menu-->
        <button class="header_button" onclick="sidebar_open()">☰</button>
        <!--Logo-->
        <div class="header_logo">
            <a href="/"><img src="/img/logos/logoLandscape.png" alt="LOGO" id="header_logo"></a>
        </div>
        <!--Profile pic-->
        <div class="header_profile">
            <% if (locals.loggedUser){ %>
            <img src="/fileUsers/<%= locals.loggedUser.avatar %>" alt="Avatar" id="header_profile" onclick="profile()" >
            <% } else { %>
            <img src="/fileUsers/default.png" alt="Avatar" id="header_profile" onclick="profile()" >
            <% } %>
        </div>
    </div>
    <div class="header_subcontainer2">
        <!--Search-->
        <div class="header_search">
            <form action="/products/search" method="GET" class="header_form">
                <input type="text" name="search" placeholder="Buscá el producto que necesites..." class="header_searchBox">
            </form>
        </div>
    </div>


    <!--    Hamburguer Pop-up   -->

    <%- include('./menu.ejs') %>

    <!--    User Pop-up -->

    <%- include('./user_popUp.ejs')%>

</section>