<section class="header_burguer_popUp" style="left:-50vw" id="mySidebar">

    <!--    Close Buttons   -->
    <button class="header_button" onclick="sidebar_close()">☰</button>

    <!--    Links   -->
    <ul>
        <a href="/products">
            <li>Descartables</li>
        </a>
        <a href="/products">
            <li>Papeleria</li>
        </a>
        <a href="/products">
            <li>Higiene</li>
        </a>
        <a href="/acerca-de">
            <li>Acerca de</li>
        </a>
        <a href="/contact">
            <li>Contacto</li>
        </a>
    </ul>

</section>