<section class="header_burguer_popUp" style="left:-50vw" id="mySidebar">

    <!--    Close Buttons   -->
    <button class="header_button" onclick="sidebar_close()">☰</button>

    <!--    Links   -->
    <ul>
        <a href="/products/descartables">
            <li class="textMenuBur">Descartables</li>
        </a>
        <a href="/products/papeleria">
            <li class="textMenuBur">Papeleria</li>
        </a>
        <a href="/products/higiene">
            <li class="textMenuBur">Higiene</li>
        </a>
        <a href="/acerca-de">
            <li class="textMenuBur">Acerca de</li>
        </a>
        <a href="/contact">
            <li class="textMenuBur">Contacto</li>
        </a>
    </ul>

</section>