<!--    Si esta logueado:   -->
<% if (locals.loggedUser){ %>

<section class="header_popUp" id="profile">

    <!--Image-->
    <img src="/fileUsers/<%= locals.loggedUser.avatar %>" alt="Avatar" class="profile_popUpAvatar">

    <!--Main Info-->
    <div class="profile_mainInfo">
        <p class=" profile_name">
            <%= locals.loggedUser.name %>
        </p>
    </div>

    <!--Options-->
    <ul>
        <a class="option" href="/users/<%= locals.loggedUser.id %>">
            <li class="option">Perfil</li>
        </a>
        <a class="option"href="/users/<%= locals.loggedUser.id %>/edit">
            <li class="option">Editar perfil</li>
        </a>

        <% if (locals.loggedUser.category_user_id == 2){ %>
            <a class="option" href="/users">
                <li class="option">Usuarios</li>
            </a>
            <a class="option" href="/products/create">
                <li class="option">Crear producto</li>
            </a>
        <% } %>

    </ul>
    <form action="/users/logout?_method=PUT" method="POST"><button type="submit">Cerrar Sesion</button></form>

</section>

<!--    Si no esta logueado -->
<% } else { %>

<section class="header_popUp" id="profile">

    <!--Image-->
    <img src="/fileUsers/default.png" alt="Avatar" class="profile_popUpAvatar">

    <!--Main Info-->
    <div class="profile_mainInfo">
        <p class=" profile_name">
        <p>No estas logueado</p>
        </p>
    </div>

    <!--Options-->
    <ul>
        <a href="/users/login">
            <li class="option">Iniciar sesion</li>
        </a>
        <a href="/users/register">
            <li class="option">Registrate</li>
        </a>

    </ul>

</section>

<% } %>