<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="autor" content="">

		<title>Baggu: Boom</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="font/css/fontawesome.css" rel="stylesheet">
   		<link href="font/css/brands.css" rel="stylesheet">
        <link href="font/css/solid.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    	
    	
    </head>

    <body class="bodyBoom" >
        <div class="headerBoom">
            <div class="logoBoom"><i class="fab fa-html5 logoPostaBoom"></i></div>
            <div class="middleContentHeaderBoom"><input type="text" placeholder="Buscar" class="buscarBoom"> <i class="fas fa-search logoSearchBoom"></i></div>
            <div class="lastContentHeaderBoom"><i class="fas fa-user-ninja logoUserBoom"></i></div>
        </div>

        <div class="mainBoxBoom">

        </div>
    </body>

    <footer class="footerBoom">
        <div class="footerBoxBoom"></div>
        <div class="footerBoxBoom"></div>
        <div class="footerBoxBoom"></div>
    </footer>

</html>