<!DOCTYPE html>
<html lang="en">

    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="autor" content="">

		<title>Baggu: Carrito</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="font/css/fontawesome.css" rel="stylesheet">
   		<link href="font/css/brands.css" rel="stylesheet">
        <link href="font/css/solid.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    	
    	
    </head>

<body>
    
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="carrito_container">
            <div class="logo_carrito"><i class="fas fa-shopping-cart logo_posta_carrito"></i></div>
            <div class="titulo_carrito">Mi carrito</div>
            <section class="contenido_carrito">
                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/portal_gun.png" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>
                    <div class="cantidad_carrito">
                        <label for="cantidad_carrito">Cantidad</label>
                        <select name="cantidad_carrito" id="cantidad_carrito">
                            <option value="1">1</option>
                            <option value="2">2</option>
                         </select> </div>
                </div>
                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/portal_gun.png" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>
                    <div class="cantidad_carrito">
                        <label for="cantidad_carrito">Cantidad</label>
                        <select name="cantidad_carrito" id="cantidad_carrito">
                            <option value="1">1</option>
                            <option value="2">2</option>
                         </select> </div>
                </div>
                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/portal_gun.png" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>
                    <div class="cantidad_carrito">
                        <label for="cantidad_carrito">Cantidad</label>
                        <select name="cantidad_carrito" id="cantidad_carrito">
                            <option value="1">1</option>
                            <option value="2">2</option>
                         </select> </div>
                </div>
                
                <button class="borrar_carrito">Eliminar</button>
                <button class="pagar_carrito">Proceder a medios de pago</button>
            </section>
        </div>
       

    </main>

    <%- include('./partials/footer.ejs') %>

    
</body>

</html>