<!DOCTYPE html>
<html lang="en">

    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="autor" content="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

		<title>Baggu: Detalle</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="font/css/fontawesome.css" rel="stylesheet">
   		<link href="font/css/brands.css" rel="stylesheet">
        <link href="font/css/solid.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    	
    	
    </head>

<body>
    
    <header class="headerTotal">
        <div class="logoHeader">
            <a href="http://localhost:3000"><img src="media/logos/logo.png" alt="Logo Baggu"></a>
        </div>
        <div class="usuarioHeader">
            <span><i class="fas fa-user"></i></span> <h3><a href="#">Login</a> o <a href="#">Registrarse</a></h3> 

            <div class="busqueda">
                <input type="search" id="search" placeholder="Search..." />
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </header>
    <hr> 
    <script src="js/bootstrap.min.js"></script>


    <main>

        <div class="tipo_producto"><p>Envases descartable</p></div>

        <section class="producto_container">
            <!--Imagen-->
            <div class="imagen_detalle"><img class="img_detalle" src="img/portal_gun.png" alt=""></div>
            <!--Descripcion del producto-->
            <div class="descripcion_detalle">
                <p class="subtitulo_detalle">Descripcion del producto</p>
                <p class="texto_detalle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci autem, nam ipsa quo similique blanditiis dolores omnis tempore! Nihil, sint consequuntur, ullam sequi officiis magnam ex error delectus, eaque incidunt nesciunt aliquid.</p>
            </div>
            <!--Resumen-->
            <div class="resumen_detalle">
                <div class="cantidad_detalle">
                    <label for="quantity">Cantidad</label>
                    <select name="quantity" id="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </div>
                <div class="precio_detalle"><i class="fas fa-dollar-sign"></i>999.99</div>
                <div class="comprar_detalle">Comprar <i class="fas fa-shopping-cart"></i></div>
                <div class="compartir_detalle">Compartir <i class="fas fa-share-alt"></i></div>
            </div>
        </section>
       
    </main>

    <footer>
        <div class="containerFooter">
            <div class="footerBox1"> <!--Contenedor Informacion-->
                <div class="footerBoxInfo"> 
                    <div class="contacto">Direccion: <a class="linkInfo" href="https://www.google.com/maps/place/B%C3%B6rsa+Descartables/@-32.8658975,-68.824434,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x11b71e106ccd189d!8m2!3d-32.8658975!4d-68.8222453?hl=es-419"> Lisandro Moyano 95.</a></div>
                    <div class="contacto">Localidad: Las Heras - Mendoza - Argentina.</div>
                    <div class="contacto">Telefonos: <a class="linkInfo" href="tel0261700540">0261700540</a>-<a class="linkInfo" href="tel2614232223">2614232223</a></div>
                    <div class="contacto">Email: <a class="linkInfo" href="mailto:baggu@gmail.com">baggu@gmail.com</a></div>
                    <div class="contacto">Whatsapp: <a class="linkInfo" href="https://wa.me/5492617000540">+5942617000540</a></div>
                    <div class="contacto">Horarios: Lunes a Sabados de 9:00 a 18:00</div>
                </div>
            </div>   
            <div class="footerBox2"> <!--Contenedor Social Media y Logo-->
                <div class="boxIconSocial">
                    <a href="https://wa.me/5492617000540"><img class="imgSocial" src="img/LogoWapp.png" alt="Logo Whatsapp" width="50px" height="auto"></a>
                    <a href="https://www.facebook.com"><img class="imgSocial" src="img/LogoFace.png" alt="Logo Whatsapp" width="50px" height="auto"></a>
                    <a href="https://www.instagram.com"><img class="imgSocial" src="img/LogoInstagram.png" alt="Logo Whatsapp" width="50px" height="auto"></a>
                </div>
                <div class="boxIconLogoBaggu">
                    <a href="/"><img src="media/logos/Nuevo Logo.png" alt="Logo Baggu" width="150px" height="auto"></a>
                    <p class="legales">Reservados todos los derechos. Queda prohibida la utilizacion del contenido.</p>
                </div>
            </div>
            <div class="footerBox3"> <!--Contenedor Botones de Footer-->
                <div class="footerBoxButtons">
                    <div class="boxButtonContact">
                        <button id="buttonContact" type="button"><a class="linkInfo" href="contact.html">Contacto</a></button>
                    </div>
                    <div class="boxButtonUs">
                        <button id="buttonUs" type="button"><a class="linkInfo" href="us.html">Empresa</a></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
</body>

</html>