<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.js', {title: "Baggu: Detalle"}) %>

<body>
    <%- include('./partials/header.js') %>

    <!--queda ver como pasar la imagen como parametro-->
    <%- include('./partials/detalle.js', {
            product_type: "Envases Descartables",
            product_description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci autem, nam ipsa quo similique blanditiis dolores omnis tempore! Nihil, sint consequuntur, ullam sequi officiis magnam ex error delectus, eaque incidunt nesciunt aliquid.",
            product_price: "99.99"
            })%> 

    <%- include('./partials/footer.js') %>

    
</body>

</html>