<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <p>logo    -     Barra Buesqueda    -     Iconos</p>
    </header>
    <h1> Productos de body</h1>

    <footer>
        <div class="footerBox">
           <div class="footerBoxInfo"> 
                <div class="contacto">Direccion: Lisandro Moyano 95, esquina Coronel Diaz.</div>
                <div class="contacto">Localidad: Las Heras - Mendoza - Argentina.</div>
                <div class="contacto">Telefonos: <a href="tel0261700540">0261700540</a>-<a href="tel2614232223">2614232223</a></div>
                <div class="contacto">Email: <a href="mailto:baggu@gmail.com">baggu@gmail.com</a></div>
                <div class="contacto">Whatsapp: <a href="https://wa.me/5492617000540">+5942617000540</a></div>
                <div class="contacto">Horarios: Lunes a Sabados de 9:00 a 18:00</div>
           </div>
        </div>   
        <div class="footerBox">
            <div class="boxIconSocial">
                <a href="https://wa.me/5492617000540"><img class="imgSocial" src="img/LogoWapp.png" alt="Logo Whatsapp" width="50px" height="auto"></a>
                <a href="https://www.facebook.com"><img class="imgSocial" src="img/LogoFace.png" alt="Logo Whatsapp" width="50px" height="auto"></a>
                <a href="https://www.instagram.com"><img class="imgSocial" src="img/LogoInstagram.png" alt="Logo Whatsapp" width="50px" height="auto"></a>
            </div>
            <div class="boxIconLogoBaggu">
                <a href="index.html"><img src="media/logos/Nuevo Logo.png" alt="Logo Baggu" width="150px" height="auto"></a>
                <p class="legales">Reservados todos los derechos. Queda prohibida la copia, utilización de este contenido sin el consentimiento previo y explícito</p>
            </div>
        </div>
        <div class="footerBox">
            <div class="footerButtons">
                <div>
                    <button class="footButtons" type="button"><a href="contact.html">Contacto</a></button>
                </div>
                <div>
                    <button class="footButtons" type="button"><a href="us.html">Empresa</a></button>
                </div>
            </div>
        </div>
        

    </footer>
    
</body>
</html>