<!DOCTYPE html> <!--Version HTML 5--> 
<html lang="en"><!--Contenido de programacion en ingles-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggu: Home</title>
    <link rel="shortcut icon" type="image/png" href="../media/photo5177449313322772614.jpg">
    <link rel="stylesheet" href="/css/styles.css"> <!--Hoja de estilos en carpeta public-->
</head>

<body>
    
    <header></header>

    <main></main>
    
    <footer></footer>

</body>
</html>