
/*Paletas de Colores*****https://coolors.co/00916e-5386e4-525998-141e29-826754*/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */
/*Paleta de Colores para Envases Descartables **** #5386E4 */
/*Paleta de Colores para Papeleria **** #00916E */
/*Paleta de Colores para Higiene **** #525998 */
/*Paleta de Colores para Footer- Contacto- Empresa **** #141E29 */

/****Tipografia ??????*****/

html{
	font-size: 62.5%; /**reset para rems -62.5% =10px de 16... esta cuenta es para hacer que un rem valga 10px**/
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	font-family: '';
	font-size: 1.6rem;
	line-height: 2;
}
h1, h2, h3, h4{
	font-family: '';
}

h1{
	font-size: 4.8rem;
}
h2{
	font-size: 4rem;
	line-height: 1;
}
h3{
	font-size: 3.2rem;
}
h4{
	font-size: 2.8rem;
}

/*****Header*****/
.headerTotal{
	width: 100%;
	height: 15rem;
	margin-left: auto;
	margin-bottom: auto;
	display: flex;
	flex-flow: row nowrap;
}
/*Logo*/
.logoHeader{
	width: 35vw;
	height: 20rem;
}
.logoHeader img{
	height: 15rem;
}
/*Login y registro*/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

.usuarioHeader{
	width: 65vw;
	height: 20rem;
	text-align: right;
	padding: 2rem;
}
.usuarioHeader h3{
	display: none;
}
.dis{
	margin-bottom: 2rem;
    margin-top: 2rem;
}
/*Barra de busqueda*/
.busqueda{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
.busqueda input{
	display: none;
}
/****Medidas para pantallas superior 1024px HEADER*****/
@media only screen and (min-width: 1024px){
	/*header*/
	.headerTotal{
		width: 100%;
		height: 20rem;
	}

	/*Login y registro*/

	/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

	.usuarioHeader{
		display: flex;
		flex-flow: row-reverse nowrap;
		align-content: center;
		align-items: center;
		padding: 3rem;
	}
	.usuarioHeader h3{
		display: inline-block;
		margin-right: 1rem;
	}
	.usuarioHeader h3 a{
		text-decoration: none;
		color: black;
	}
	.usuarioHeader i{
		font-size: 3rem;
	}

	/*Logo*/
	.logoHeader img{
		height: 18rem;
	}

	/*Barra de busqueda*/
	.busqueda{
		width: 300px;
		display: flex;
		flex-flow: row nowrap;
		margin-right: auto;
		margin-left: auto;
	}
	.busqueda input{
		display: inline-block;
	}
	.busqueda input#search{
		width: 300px;
		height: 50px;
		background: rgb(241, 240, 240);
		border: 0.2rem solid black;
		font-size: 2rem;
		color: #63717f;
		padding-left: 45px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
	}
	.busqueda .icon{
		position: relative;
		font-size: 2.3rem;
		margin-left: -4.3rem;
		padding: 0.2rem;
		z-index: 1;
		color: black;
	}
	
	.busqueda input#search:hover, .busqueda input#search:focus, .busqueda input#search:active{
		outline:none;
		background: #ffffff;
	}
}




/***************************************************/
/*header {
    box-sizing: border-box;
    border-bottom: solid 2px gray;
}*/

.general {
    margin: 10px 5px;
    width: 1500px;
    height: 150px;
}

.footer {
    display: block;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow  ;
    margin-top: 10px;
    height: 250px;
    width: 1500;

}

/*----------Dedicado a boom.html----------*/

.bodyBoom {
	background-image:url("/media/gray.jpg");
	background-repeat: round;
}

.headerBoom {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	margin: auto 80px;
	height: 100px;
	border-bottom: black solid 2px;
	align-items: center;
}

.middleContentHeaderBoom {
	display: block;
	box-sizing: border-box;
	width: 80%;
	padding-left: 30%;
}

.lastContentHeaderBoom {
	display: block;
	box-sizing: border-box;
	width: 10%;
}

.mainBoxBoom {
	width: auto;
	height: 700px;
	margin: 60px 80px;
	border: black 2px solid;
}

.logoBoom {
	width: 10%;
}

.logoPostaBoom {
	font-size: 95px;
	margin: 2px auto;
}

.logoSearchBoom {
	font-size: 30px;
	margin-top: 2px;
}

.buscarBoom {
	border: #63717f;
	border-radius: 12px;
	background-color: darkgray;
	border-bottom: black 2px solid;
	border-right: black 2px solid;
}

.logoUserBoom {
	font-size: 80px;
	margin-top: 10px;
	margin-left: 100px;
}

.footerBoom {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	margin: 5px 60px;
	height: 100px;
	border-top: black solid 2px;
}

.footerBoxBoom {
	display: block;
	box-sizing: border-box;
	margin: 5px auto;
	width: 33%;
	border: black 1px solid;
}

/*----------Dedicado a carrito.html----------*/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

.container_carrito {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: yellow;
	border-style: dotted;
	border-color: black;
	border-radius: 24px;
	margin: 40px 130px;
	padding: 10px;
	
}

.header_carrito {
	text-align: center;
	border-bottom: thin black solid;
	width: 90%;
	margin: auto;
}

.producto_carrito {
	display: flex;
	flex-wrap: wrap;
	margin: 12px 50px;
}

.imagen_prueba {
	display: block;
	box-sizing: border-box;
	width: 20%;
	margin-right: 10%;
	text-align: center;
	padding-top: 40px;
	font-size: 60px;
	background-color: grey;
}

.info_producto {
	display: block;
	padding-left: 8px;
	box-sizing: border-box;
	width: 70%;
	height: auto;

}

/*----------Dedicado a detalle.html----------*/

/*Paleta de Colores para Envases Descartables **** #5386E4 */
/*Paleta de Colores para Papeleria **** #00916E */
/*Paleta de Colores para Higiene **** #525998 */

.tipo_envase {
	display: block;
	box-sizing: border-box;
	background-color: green;
	border-radius: 20px;
	text-align: center;
	padding: 15px;
	color: white;
	margin: auto 40px;

}

.container_detalle {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 40px;
}

.imagen_prueba_detalle {
	display: block;
	box-sizing: border-box;
	width: 40%;
	height: 380px;
	margin-right: 5%;
	text-align: center;
	padding-top: 40px;
	font-size: 60px;
	background-color: grey;
}

.info_producto_detalle {
	display: block;
	padding-left: 4px;
	box-sizing: border-box;
	width: 50%;
	height: auto;

}

.cantidad_detalle {
	font-size: larger;
	margin-left: 15%;
}



/*******Estilos para footer******/

/*Paleta de Colores para Footer- Contacto- Empresa **** #141E29 */

footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.footer-box {
	width: 300px;
	height: 200px;
	flex-grow: 1;
	background-color: #D6F599;
}

.footer-info {
	width: 100%;
	background-color: #D6F599;
	padding: 5px;
	margin: 10px;
}

.contacto {
	font-size: 0.8rem;
	font-family: OpenSans-Light;
}

/**********************LOGIN************************/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

/*General*/
.cuentaLogin{
	background-color: #d2ff28;
}
/*Titulo*/
.tituloLogin{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 10rem;
	border-bottom: 2px solid black;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.tituloLogin i{
	margin-right: 1rem;
	font-size: 3.2rem;
}
/*Formulario*/
.campoLogin{
	padding: 2rem;
}
.subCampoLogin{
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.subCampoLogin input{
	border-radius: 10px;
	-webkit-box-shadow: 9px 9px 5px -7px rgba(219,216,219,1);
	-moz-box-shadow: 9px 9px 5px -7px rgba(219,216,219,1);
	box-shadow: 9px 9px 5px -7px rgba(219,216,219,1);
}
.subCampoLogin input:hover{
	background-color: #dbd8db;
	-webkit-box-shadow: 9px 13px 9px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 13px 9px -7px rgba(0,0,0,0.75);
	box-shadow: 9px 13px 9px -7px rgba(0,0,0,0.75);
}
.subCampoLogin label{
	font-weight: bold;
}
/*Botones*/
.botonLogin{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
	align-items: center;
	align-content: center;
}
.botonLogin button{
	margin-right: 1rem;
	border: 0;
	background-color: #d2ff28;
	font-size: 2rem;
}
.botonLogin button:hover{
	font-weight: bold;
}
.botonLogin button:hover~i{
	color: white;
}
.botonLogin i{
	font-size: 3.2rem;
}
button{
	outline: none;
}

/* Checkbox */
[type="checkbox"]{display: none;}
.animado{
	margin-top: 3rem;
	margin-left: 1.2rem;
}
.animado label {
  padding-left: 2rem;
  position: relative;
}

.animado label:before{
  content: '';
  border: solid 1px black;
  border-radius: 5px;
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  left: -10px;
  transition: all 0.2s;
  transform: rotate(0deg);
}

[type="checkbox"]:checked + label:before{
  border-color: white;
  color: black;
  content: '\f00c';  
  font-family: "Font Awesome 5 Free";
  transform: rotate(360deg);
  padding-left: .3rem;
  font-size: smaller;
}
/**Pantallas grandes**/
@media only screen and (min-width: 768px){
	/*Formulario*/
	.subCampoLogin{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.recordarmeLogin{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	/*Botones*/
	.botonLogin{
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}
@media only screen and (min-width: 1024px){
	/*General*/
	.cuentaLogin{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3rem;
		border-radius: 6rem;
		border: 2px dashed black;
	}
	/*Titulo*/
	.tituloLogin{
		margin-bottom: 7rem;
	}
	/*Formulario*/
	.subCampoLogin:first-child{
		margin-bottom: 4rem;
	}
	.subCampoLogin{
		width: 50%;
	}
	.recordarmeLogin{
		width: 50%;
	}
}