
/*Paletas de Colores*****https://coolors.co/00916e-5386e4-525998-141e29-826754*/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */
/*Paleta de Colores para Envases Descartables **** #5386E4 */
/*Paleta de Colores para Papeleria **** #00916E */
/*Paleta de Colores para Higiene **** #525998 */
/*Paleta de Colores para Footer- Contacto- Empresa **** #141E29 */

/****Tipografia ??????*****/

html{
	font-size: 62.5%; /**reset para rems -62.5% =10px de 16... esta cuenta es para hacer que un rem valga 10px**/
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	font-family: '';
	font-size: 1.6rem;
	line-height: 2;
}
h1, h2, h3, h4{
	font-family: '';
}

h1{
	font-size: 4.8rem;
}
h2{
	font-size: 4rem;
	line-height: 1;
}
h3{
	font-size: 3.2rem;
}
h4{
	font-size: 2.8rem;
}

/************* Header ***************/
.headerTotal{
	width: 100%;
	height: 15rem;
	margin-left: auto;
	margin-bottom: auto;
	display: flex;
	flex-flow: row nowrap;
}
/*Logo*/
.logoHeader{
	width: 35vw;
	height: 20rem;
}
.logoHeader img{
	height: 15rem;
}
/*Login y registro del header*/


/*******************  Index ********************/

                                   /*Container Principal del Carrousel*/
.boxContainerCarrousel { 
	box-sizing: border-box;         
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 0px 20px 0px;
	border: 2px grey;
	border-style: ridge;
}
                                          /* 3 columnas de Carrousel*/
.carrousel1 {       
	display: none;
	width: 33%;
	flex-grow: 1;
}

.carrousel2 {       
	display: flex;
	width: 33%;
	flex-grow: 1;
}

.carrousel3 {       
	display: none;
	width: 33%;
	flex-grow: 1;
}

.imgCarrousel { width: 100%; }

                                        /*Media Query a Laptop*/
@media (min-width: 769px) and (orientation: landscape) {
	.carrousel1, .carrousel3 { display: flex; }
	.carrousel2 { 
		justify-content: center;
	}
};

                                        /* Container principal de grupos productos*/
.containerMainProducts {              
	flex-direction: column;
	width: 100%;
	height: 300%;
}
                                        /* 3 Columnas de Grupo Productos*/
.boxProduct1, .boxProduct2, .boxProduct3 {     
	display: flex;
	width: 100%;
	height: 300%;
	flex-direction: column;
	justify-content: center;
	
	margin: 20px 0px;
	padding: 10px;
	
}

.boxProduct1 { background-color: #5386E4; }
.boxProduct2 { background-color: #00916E; }
.boxProduct3 { background-color: #525998; }

                                         /*Media Query a Laptop*/
@media (min-width: 769px) and (orientation: landscape) {
	.containerMainProducts { 
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		 }
	.boxProduct1, .boxProduct2, .boxProduct3 {
		width: 30%;
	}
}
                                           /*Contenedor Titulo de Grupo Productos*/
.titleBox {                                    
	display: flex;
	width: 100%;
	height: 25%;
	padding: 10px 0px;
	justify-content: center;
	align-items: center;
}
                                          /*Titulos Grupo Productos*/
h2 {                                           
	font-size: 2rem;
	color: whitesmoke; 
	}
                                          /*Contenedor Imagen Grupo Productos*/
.imageBox {       
	display:flex;                             
	width: 80%;
	height: 60%;
	padding: 5px;
	margin: 10px;
	justify-content: center;
	
}
                                            /*Estilos Imagenes Grupo Productos*/
.imgMainProduct1, .imgMainProduct2, .imgMainProduct3 {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	position: relative;
	right: -18px;
	
}

.imgMainProduct1:hover, .imgMainProduct2:hover, .imgMainProduct3:hover {
	width: 105%;
	border: 2px solid grey;
}

/*************Acerca de - Empresa****************/


h1.titleEmpresa { text-align: center;}


article.empresa { 
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

div.boxImgEmpresa {
	padding: 10px;
}

div.boxTextEmpresa {
	padding: 10px;
}

@media (min-width: 769px) and (orientation: landscape) {
	article.empresa { 
		flex-direction: row;
	}
	
}

/************Login y registro*********/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

.usuarioHeader{
	width: 65vw;
	height: 20rem;
	text-align: right;
	padding: 2rem;
}
.usuarioHeader h3{
	display: none;
}
.dis{
	margin-bottom: 2rem;
    margin-top: 2rem;
}
/*Barra de busqueda*/
.busqueda{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
.busqueda input{
	display: none;
}
/****Medidas para pantallas superior 1024px HEADER*****/
@media only screen and (min-width: 1024px){
	/*header*/
	.headerTotal{
		width: 100%;
		height: 20rem;
	}

	/*Login y registro*/

	/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

	.usuarioHeader{
		display: flex;
		flex-flow: row-reverse nowrap;
		align-content: center;
		align-items: center;
		padding: 3rem;
	}
	.usuarioHeader h3{
		display: inline-block;
		margin-right: 1rem;
	}
	.usuarioHeader h3 a{
		text-decoration: none;
		color: black;
	}
	.usuarioHeader i{
		font-size: 3rem;
	}

	/*Logo*/
	.logoHeader img{
		height: 18rem;
	}

	/*Barra de busqueda*/
	.busqueda{
		width: 300px;
		display: flex;
		flex-flow: row nowrap;
		margin-right: auto;
		margin-left: auto;
	}
	.busqueda input{
		display: inline-block;
	}
	.busqueda input#search{
		width: 300px;
		height: 50px;
		background: rgb(241, 240, 240);
		border: 0.2rem solid black;
		font-size: 2rem;
		color: #63717f;
		padding-left: 45px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
	}
	.busqueda .icon{
		position: relative;
		font-size: 2.3rem;
		margin-left: -4.3rem;
		padding: 0.2rem;
		z-index: 1;
		color: black;
	}
	
	.busqueda input#search:hover, .busqueda input#search:focus, .busqueda input#search:active{
		outline:none;
		background: #ffffff;
	}
}




/***************************************************/
/*header {
    box-sizing: border-box;
    border-bottom: solid 2px gray;
}*/

.general {
    margin: 10px 5px;
    width: 1500px;
    height: 150px;
}

.footer {
    display: block;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow  ;
    margin-top: 10px;
    height: 250px;
    width: 1500;

}

/*------------------------------------------------------------Dedicado a boom.html----------------------------------------------------------------------*/

.bodyBoom {
	background-image:url("/media/gray.jpg");
	background-repeat: round;
}

.headerBoom {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	margin: auto 80px;
	height: 100px;
	border-bottom: black solid 2px;
	align-items: center;
}

.middleContentHeaderBoom {
	display: block;
	box-sizing: border-box;
	width: 80%;
	padding-left: 30%;
}

.lastContentHeaderBoom {
	display: block;
	box-sizing: border-box;
	width: 10%;
}

.mainBoxBoom {
	width: auto;
	height: 700px;
	margin: 60px 80px;
	border: black 2px solid;
}

.logoBoom {
	width: 10%;
}

.logoPostaBoom {
	font-size: 95px;
	margin: 2px auto;
}

.logoSearchBoom {
	font-size: 30px;
	margin-top: 2px;
}

.buscarBoom {
	border: #63717f;
	border-radius: 12px;
	background-color: darkgray;
	border-bottom: black 2px solid;
	border-right: black 2px solid;
}

.logoUserBoom {
	font-size: 80px;
	margin-top: 10px;
	margin-left: 100px;
}

.footerBoom {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	margin: 5px 60px;
	height: 100px;
	border-top: black solid 2px;
}

.footerBoxBoom {
	display: block;
	box-sizing: border-box;
	margin: 5px auto;
	width: 33%;
	border: black 1px solid;
}


/*------------------------------------------------------------Dedicado a carrito.html----------------------------------------------------------------------*/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

.carrito_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 3%;
	border: #141E29 dotted 2px;
	border-radius: 12px;
	background-color: #826754; /* #add8e6 */
}

.logo_carrito {
	display: block;
	box-sizing: border-box;
	width: fit-content;
	margin: 12px auto;
}

.logo_posta_carrito {
	font-size: 60px;
}

.titulo_carrito {
	display: block;
	box-sizing: border-box;
	font-size: 40px;
	font-weight: bold;
	border-bottom: solid black 1px;
	width: fit-content;
	margin: 2px auto;
}

.contenido_carrito {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.producto_carrito {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.imagen_carrito {
	display: flex;
	flex-wrap: wrap;
}

.imagen_posta_carrito {
	display: block;
	box-sizing: border-box;
	width: 80%;
	margin: 5px auto;
}

.descripcion_carrito {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 24px;

}

.nombre_producto {
	font-size: x-large;
	font-weight: bold;
}

.descripcion_producto {}

.cantidad_carrito{
	display: block;
	box-sizing: border-box;
	margin: auto;
	width: fit-content;
	background-color: #fff;
	border: black solid 3px;
	border-radius: 12px;
	border-left: black;
	border-top: black;
}

.borrar_carrito {}

.pagar_carrito {}

@media all and (min-width: 768px) {

	.contenido_carrito {
		flex-direction: row;
	}

	.producto_carrito {
		flex-direction: row;
	}

	.imagen_carrito {
		display: flex;
		flex-wrap: wrap;
		width: 30%;
	}

	.imagen_posta_carrito {
		display: block;
		box-sizing: border-box;
		margin: auto;
		


	}

	.descripcion_carrito {
		width: 30%;
	}

}

/*------------------------------------------------------------Dedicado a detalle.html----------------------------------------------------------------------*/

/*Paleta de Colores para Envases Descartables **** #5386E4 */
/*Paleta de Colores para Papeleria **** #00916E */
/*Paleta de Colores para Higiene **** #525998 */

.tipo_producto {
	display: block;
	box-sizing: border-box;
	margin: 3%;
	background-color: #5386E4;
	color: white;
	font-size: 25px;
	text-align: center;
	justify-content: center;
	border-radius: 12px;
	height: 6vh;
}

.producto_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 3%;
}

.imagen_detalle{
	display: flex;
	flex-wrap: wrap;
	height: 30vh;
}

.img_detalle {
	display: block;
	box-sizing: border-box;
	width: 280px;
	margin: 12px auto;
}

@media all and (min-width: 768px){

	.producto_container {
		flex-direction: row;
		align-self: center;
	}

	.imagen_detalle {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		width: 30%;
	}

	.img_detalle {
		display: block;
		box-sizing: border-box;
		align-content: center;
		width: 220px;
	}

	.descripcion_detalle {
		width: 30%;
		margin:1%;
	}

	.resumen_detalle {
		flex-direction: column;
		width: 30%;
		margin:1%;
	}

	.texto_detalle { font-size: smaller; }

}

.descripcion_detalle{
	display: block;
	box-sizing: border-box;
	height: 30vh;
	color: black;
}

.resumen_detalle {
	display: flex;
	flex-wrap: wrap;
	height: 30vh;
}

.cantidad_detalle {
	display: block;
	box-sizing: border-box;
	margin: 2% 10%;
}

.precio_detalle {
	display: block;
	box-sizing: border-box;
	margin: 2% 10%;
	color: green;
	font-weight: bold;
	font-size: large;
}

.comprar_detalle {
	display: block;
	box-sizing: border-box;
	margin: 2% 10%;
}

.compartir_detalle {
	display: block;
	box-sizing: border-box;
	margin: 2% 10%;
}

.subtitulo_detalle {
	color: black;
	font-size: large;
	text-align: left;
	font-weight: bold;
}

.texto_detalle { margin: 2%; }






/*************** Footer ******************/

/*Paleta de Colores para Footer- Contacto- Empresa **** #141E29 */

                                  /*contenedor padre*/
.containerFooter {            
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}
                                  /*3 contenedores*/
.footerBox1 {  
	padding: 15px;
	width: 100%;
	height: 220px;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	background-color: #141E29;
}

.footerBox2 { 
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 220px;
	flex-grow: 1;
	background-color: #141E29;
 }

.footerBox3 {  
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 220px;
	background-color: #141E29;
}


                                    /*Estilos de info*/
.contacto {                  
	color: white;
	font-size: 1.25rem;
	font-family: OpenSans-Light;
	text-align: center;
}
                                    /*Contenedor de Iconos Social Media*/
.boxIconSocial {            
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50%;
}
                                    /*Estilos de Iconos Social Media*/
.imgSocial { border-radius: 10%; }
.imgSocial:hover { border: 3px solid white; }

                                    /*Contenedor de Icono Baggu Linkeado y Legales*/
.boxIconLogoBaggu {          
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}
                                      /*Estilos Legales*/
.legales {                   
	font-size: 0.8rem;
	color: whitesmoke;
	width: 100%;
	text-align: center;
}

                                     /*Contenedores Botones*/
.boxButtonContact, .boxButtonUs {      
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding-top: 30px;
}

                                    /*Estilo en botones de footer*/
#buttonContact, #buttonUs {     
	background-color: cadetblue;
	width: 30%;
	height: 40%;
	text-align: center;
}

#buttonContact:hover, #buttonUs:hover {
	background-color: turquoise;
}
                                 /*Palabras Linkeadas Contacto y Botones*/
.linkInfo {                       
	text-decoration: unset;
	text-align: center;
	color: whitesmoke;
}

                                  /*Media Queries hacia Laptop*/
@media (min-width: 769px) and (orientation: landscape) {
	.containerFooter { flex-direction: row; }
	.footerBox3 { display: flex; }
	.footerBox1 {
		flex-direction: row;
		justify-content: flex-start;
	 }
	 .contacto { text-align: left; }
	.footerBox1, .footerBox2, .footerBox3 { 
		width: 33%;
		flex-grow: 1; 
	}
}



/**********************LOGIN************************/

/*Paleta de Colores para Login - Registro - Carrito **** #826754 */

/*General*/
.cuentaLogin{
	background-color: #826754;
	margin-bottom: 5rem;
}
/*Titulo*/
.tituloLogin{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 10rem;
	border-bottom: 2px solid black;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.tituloLogin i{
	margin-right: 1rem;
	font-size: 3.2rem;
}
/*Formulario*/
.campoLogin{
	padding: 2rem;
}
.subCampoLogin{
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.subCampoLogin input{
	border-radius: 10px;
	-webkit-box-shadow: 9px 9px 5px -7px rgba(219,216,219,1);
	-moz-box-shadow: 9px 9px 5px -7px rgba(219,216,219,1);
	box-shadow: 9px 9px 5px -7px rgba(219,216,219,1);
}
.subCampoLogin input:hover{
	background-color: #dbd8db;
	-webkit-box-shadow: 9px 13px 9px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 13px 9px -7px rgba(0,0,0,0.75);
	box-shadow: 9px 13px 9px -7px rgba(0,0,0,0.75);
}
.subCampoLogin label{
	font-weight: bold;
}
/*Botones*/
.botonLogin{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
	align-items: center;
	align-content: center;
}
.botonLogin button{
	margin-right: 1rem;
	border: 0;
	background-color: #826754;
	font-size: 2rem;
}
.botonLogin button:hover{
	font-weight: bold;
}
.botonLogin button:hover~i{
	color: white;
}
.botonLogin i{
	font-size: 3.2rem;
}
button{
	outline: none;
}

/* Checkbox */
[type="checkbox"]{display: none;}
.animado{
	margin-top: 3rem;
	margin-left: 1.2rem;
}
.animado label {
  padding-left: 2rem;
  position: relative;
}

.animado label:before{
  content: '';
  border: solid 1px black;
  border-radius: 5px;
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  left: -10px;
  transition: all 0.2s;
  transform: rotate(0deg);
}

[type="checkbox"]:checked + label:before{
  border-color: white;
  color: black;
  content: '\f00c';  
  font-family: "Font Awesome 5 Free";
  transform: rotate(360deg);
  padding-left: .3rem;
  font-size: smaller;
}
/**Pantallas grandes**/
@media only screen and (min-width: 768px){
	/*Formulario*/
	.subCampoLogin{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.recordarmeLogin{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	/*Botones*/
	.botonLogin{
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}
@media only screen and (min-width: 1024px){
	/*General*/
	.cuentaLogin{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3rem;
		border-radius: 6rem;
		border: 2px dashed black;
	}
	/*Titulo*/
	.tituloLogin{
		margin-bottom: 7rem;
	}
	/*Formulario*/
	.subCampoLogin:first-child{
		margin-bottom: 4rem;
	}
	.subCampoLogin{
		width: 50%;
	}
	.recordarmeLogin{
		width: 50%;
	}
}

/*******************Register**************************/
/*reposo*/
.icono label{
	display: block;
	width: 80%;
	height: 5rem;
	border: 2px solid silver;
	padding: 8px 10px;
	position: relative;
	border-radius: 4px;
	transition: .25s;
}
.icono label input{
	display: block;
	width: 100%;
	border: none;
	background: transparent;
	outline: none;
}
.icono label span{
	color: silver;
	position: absolute;
	top: 8px;
	left: 10px;
	transition: .25s;
}
/*focus*/
.icono label.focus{
	border-color: #141E29;
}
.icono label span.focus{
	color: white;
}
/*top*/
.icono label span.top{
	left: 2px;
	top:-10px;
	font-size: 12px;
	background: #141E29;
	padding: 0 5px;
}
.icono label.top{
	border-color: #141E29;
}



/*formulario*/
.formularioRegiaster{
	background-color: #826754;
	width: 100%;
	padding: 1rem;
	margin-bottom: 5rem;
}
.otrosDatos{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}
/*titulo y logo*/
.logoPrincipal{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	/*width: 50%;*/
	height: 18rem;
	margin-right: auto;
	margin-left: auto;
}
.logoPrincipal i{
	font-size: 10rem;
	color: #141E29;
	margin-left: auto;
	margin-right: auto;
}
.logoPrincipal h2{
	width: 30rem;
	margin-right: auto;
	margin-left: auto;
	font-size: 2.5rem;
	text-align: center;
}
/*campos del formulario*/
.icono{
	display: flex;
    flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 2rem;
}
.icono i{
	font-size: 3rem;
	margin-right: 0.5rem;
	width: 3.7rem;
	color: #141E29;
}
/*Subir foto al register*/
.fotoRegister{
	height: 30rem;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: inset 0px 0px 51px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 51px -17px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 51px -17px rgba(0,0,0,0.75);
	border-radius: 4px;
}
/*Boton*/
.Enviar{
	margin-top: 3rem;
	display: flex;
	justify-content: flex-end;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.Enviar button{
	width: 10rem;
	border-radius: 4px;
	border-color: #141E29;
	background-color: white;
	-webkit-box-shadow: inset 0px 0px 39px -27px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 39px -27px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 39px -27px rgba(0,0,0,0.75);
	font-weight: bold;
}
.Enviar button:hover{
	background-color: #826754;
	color: white;
}

/**Pantallas grandes**/
@media only screen and (min-width: 768px){
	.icono label{
		width: 90%;
	}
	.logoPrincipal h2{
		width: 60rem;
		margin-right: auto;
		margin-left: auto;
		font-size: 4rem;
	}
}
@media only screen and (min-width: 1024px){
	.formularioRegiaster{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3rem;
		border-radius: 4rem;
		border: 2px dashed black;
		padding: 3rem 1rem;
	}
	.Enviar button{
		width: 14rem;
	}
	.logoPrincipal h1{
		font-size: 5.5rem;
	}
	.fotoRegister{
		width: 60%;
	}
}