<!DOCTYPE html> <!--Version HTML 5--> 
<html lang="en"><!--Contenido de programacion en ingles-->

<%- include('./partials/head.ejs', {title: "Baggu: Contacto"}) %>

<body>
    
    <%- include('./partials/header/header.ejs') %>

    <main>
        <h1 class="titleEmpresa">Contacto</h1>
        <section>
            <article class="empresa">
                <div class="boxImgEmpresa">
                    <img src="img/Baggu_mapa.jpg" alt="imagen mision" width="400px" height="300px">
                </div>
                <div class="boxTextEmpresa">
                    <h3 class="aboutUs">Contactate con Nosotros</h3>
                    <div class="info">Direccion: <a class="Infolink" href="https://www.google.com/maps/place/B%C3%B6rsa+Descartables/@-32.8658975,-68.824434,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x11b71e106ccd189d!8m2!3d-32.8658975!4d-68.8222453?hl=es-419"> Lisandro Moyano 95.</a></div>
                    <div class="info">Localidad: Las Heras - Mendoza - Argentina.</div>
                    <div class="info">Telefonos: <a class="Infolink" href="tel0261700540">0261700540</a>-<a class="Infolink" href="tel2614232223">2614232223</a></div>
                    <div class="info">Email: <a class="Infolink" href="mailto:baggu@gmail.com">baggu@gmail.com</a></div>
                    <div class="info">Whatsapp: <a class="Infolink" href="https://wa.me/5492617000540">+5942617000540</a></div>
                    <div class="info">Horarios: Lunes a Sabados de 9:00 a 18:00</div> 
                </div>
            </article>
    </main>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>