<!DOCTYPE html> <!--Version HTML 5--> 
<html lang="en"><!--Contenido de programacion en ingles-->

<%- include('./partials/head.ejs', {title: "Baggu: Contacto"}) %>

<body>
    
    <%- include('./partials/header/header.ejs') %>

    <main>
        <h1>Pagina de Contacto en Contruccion!!</h1>
    </main>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>