<!DOCTYPE html>
<!--Version HTML 5-->
<html lang="en">
<!--Contenido de programacion en ingles-->

<%- include('./partials/head.ejs', {title: "Baggu: Home"}) %>

    <body>

        <!--CORREGIR EL MOVIMIENTO DEL FOOTER AL HACER HOVER SOBRE LAS MINIATURAS-->

        <!--include('./partials/header.ejs', {user: user})-->
        <%- include('./partials/header/header.ejs') %>

            <main class="indexContainer"></main>

            <!--Contenedor Carrousel-->
            <div class="boxContainerCarrousel">
                <div class="carrousel1">
                    <img class="imgCarrousel" src="img/imagenPromocionCarrousel.jpg" alt="Promocion" width="350px" height="117px">
                </div>
                <div class="carrousel2">
                    <img class="imgCarrousel" src="img/imagenPromocionCarrousel.jpg" alt="Promocion" width="350px" height="117px">
                </div>
                <div class="carrousel3">
                    <img class="imgCarrousel" src="img/imagenPromocionCarrousel.jpg" alt="Promocion" width="350px" height="117px">
                </div>
            </div>

            <!--Contenedor Grupos de Productos-->
            <section class="containerMainProducts">
                <article class="boxProduct1">
                    <div class="titleBox">
                        <a href="/products/descartables">
                            <h1 class="titleIndex">PRODUCTOS DESCARTABLES</h1>  
                    </div>
                    
                </article>
                <article class="boxProduct2">
                    <div class="titleBox">
                        <a href="/products/papeleria">
                            <h1 class="titleIndex">PRODUCTOS PAPELERIA</h1>
                        </a>
                    </div>
                   
                </article>
                <article class="boxProduct3">
                    <div class="titleBox">
                        <a href="/products/higiene">
                            <h1 class="titleIndex">PRODUCTOS HIGIENE</h1>
                        </a>
                    </div>
                    
                </article>
            </section>
            </main>



            <!--hay que ponerle el guion para que funcione-->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>