<!DOCTYPE html>
<!--Version HTML 5-->
<html lang="en">
<!--Contenido de programacion en ingles-->

<%- include('./partials/head.ejs', {title: "Baggu: Home"}) %>

    <body>

        <!--CORREGIR EL MOVIMIENTO DEL FOOTER AL HACER HOVER SOBRE LAS MINIATURAS-->

        <!--include('./partials/header.ejs', {user: user})-->
        <%- include('./partials/header/header.ejs') %>

            <main class="indexContainer"></main>
            <!--Contenedor Carrousel-->
            <div class="boxContainerCarrousel">
                <div class="carrousel1">
                    <img class="imgCarrousel" src="img/imagenPromocionCarrousel.jpg" alt="Promocion" width="350px" height="117px">
                </div>
                <div class="carrousel2">
                    <img class="imgCarrousel" src="img/imagenPromocionCarrousel.jpg" alt="Promocion" width="350px" height="117px">
                </div>
                <div class="carrousel3">
                    <img class="imgCarrousel" src="img/imagenPromocionCarrousel.jpg" alt="Promocion" width="350px" height="117px">
                </div>
            </div>
            <section class="containerMainProducts">
                <article class="boxProduct1">
                    <div class="titleBox">
                        <a href="/products">
                            <h2 class="titleIndex">PRODUCTOS DESCARTABLES</h2>
                        </a>
                    </div>
                    <div class="imageBox">
                        <a href="/products"><img class="imgMainProduct1" src="img\imagenDescartables.jpg" alt="Productos Descartables"></a>
                    </div>
                </article>
                <article class="boxProduct2">
                    <div class="titleBox">
                        <a href="/products">
                            <h2 class="titleIndex">PRODUCTOS PAPELERIA</h2>
                        </a>
                    </div>
                    <div class="imageBox">
                        <a href="/products"><img class="imgMainProduct2" src="img\imagenPapeleria.jpg" alt="Productos Papeleria"></a>
                    </div>
                </article>
                <article class="boxProduct3">
                    <div class="titleBox">
                        <a href="/products">
                            <h2 class="titleIndex">PRODUCTOS HIGIENE</h2>
                        </a>
                    </div>
                    <div class="imageBox">
                        <a href="/products"><img class="imgMainProduct3" src="img\imagenLimpieza.jpg" alt="Productos Limpieza"></a>
                    </div>
                </article>
            </section>
            </main>


            <!--Contenedor Grupos de Productos-->

            <!--hay que ponerle el guion para que funcione-->
            <% include('./partials/footer.ejs') %>
    </body>

</html>