<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs', {title: "Baggu: New"}) %>

<body class="body_new">
    <%- include('./partials/header.ejs') %>

    <section class="section_new">

        <div class="descartables_new"> <h1>Descartables</h1> </div>

        <div class="papeleria_new"> <h1>Papeleria</h1> </div>

        <div class="higiene_new trapezoid"> <h1>Higiene</h1> </div>

        <div class="promo_new"> <h1>Promociones</h1> </div>

    </section>

    <%- include('./partials/footer.ejs') %>
</body>


</html>