<section class="header_container">

    <div class="logo_container_H">
        <a href="/"><img class="img_Header" src="/media/logos/logoLandscape.png" alt="Logo Baggu"></a>
    </div>


    <section class="search_header">
        <form action="/products/search" method="GET">
            <input type="text" name="search" value="" placeholder="Que Producto Necesitas?&hellip;"
                class="search_header">
        </form>
    </section>

    <section class="options_header">

        <% if (locals.loggedUser){ %>
        <a href="/users/<%= locals.loggedUser.id %>">
            <div class="logged_container">
                <div class="image_logged">
                    <img id="image_logged" src="<%= locals.loggedUser.avatar %>" alt="Avatar">
                </div>
                <div class="name_logged">
                    <span>Hola <%= locals.loggedUser.name %>!</span>
                </div>
            </div>
        </a>
        <span><a class="option_header" href="/users">Usuarios</a></span>
        <% } else { %>
        <span><a class="option_header" href="/users/login">Login</a></span>
        <span><a class="option_header" href="/users/register">Register</a></span>
        <% } %>
        <span><a class="option_header" href="/products/cart">Carrito</a></span>
    </section>


</section>