<header class="headerTotal">
    <div class="logoHeader">
        <a href="/"><img src="media/logos/logo.png" alt="Logo Baggu"></a>
    </div>
    <div class="usuarioHeader">
        <span><i class="fas fa-user"></i></span> 
        <h3><a href="users/login">Login</a> o <a href="users/register">Registrarse</a></h3>
        <h3><a href="carrito">Carrito</a></h3> 

        <div class="busqueda">
            <input type="search" id="search" placeholder="Search..." />
            <span class="icon"><i class="fa fa-search"></i></span>
        </div>
    </div>
</header>
<hr>



<script src="../js/bootstrap.min.js"></script>