<section class="header_container">

    <div class="header_subcontainer1">
        <div class="header_burguer"><button type="submit">X</button></div>
        <div class="header_logo"><img src="/media/logos/logoLandscape.png" alt="LOGO" id="header_logo"></div>
        <div class="header_profile">
            <% if (locals.loggedUser){ %>
            <img src="/img/user_default/default.png" alt="LogoL" id="header_profile">
            <% } else { %>
            <a href="/users/login"><img src="/img/user_default/default.png" alt="LogoN" id="header_profile"></a>
            <% } %>
        </div>
    </div>
    <div class="header_subcontainer2">
        <div class="header_search">
            <form action="/products/search" method="GET" class="header_form">
                <input type="text" name="header_search" placeholder="Buscar" class="header_searchBox">
            </form>
        </div>
    </div>
    <section class="header_popUp">
        <div class="profile_block1">
            <img src="/img/user_default/default.png" alt="LogoL" class="profile_popUpAvatar">
            <div class="profile_mainInfo">
                
                <p class=" profile_name"><%= locals.loggedUser.name %></p>
            </div>
        </div>
        <div class="profile_block2">
            <button type="submit">Perfil</button>
            <button type="submit">Cerrar sesion</button>
        </div>
    </section>
















    <!-- <section class="logo_container_H">
        <a href="/"><img class="img_Header" src="/media/logos/logoLandscape.png" alt="Logo Baggu"></a>
    </section>


    <section class="search_header">
        <form action="/products/search" method="GET">
            <input type="text" name="search" value="" placeholder="Que Producto Necesitas?&hellip;"
                class="search_header">
        </form>
    </section>

    <section class="options_header">

        <% if (locals.loggedUser){ %>
        <span class="logged_container">
            <a href="/users/<%= locals.loggedUser.id %>">
                <div class="image_logged">
                    <img id="image_logged" src="<%= locals.loggedUser.avatar %>" alt="Avatar">
                </div>
               
            </a>
        </span>
        <span><a class="option_header" href="/users">Usuarios</a></span>
        <% } else { %>
        <span><a class="option_header" href="/users/login">Login</a></span>
        <span><a class="option_header" href="/users/register">Register</a></span>
        <% } %>
        <span><a class="option_header" href="/products/cart">Carrito</a></span>
    </section> -->


</section>