<section class="header_container">

    <!--    Script  -->
    <script>
        function sidebar_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function sidebar_close() {
            document.getElementById("mySidebar").style.display = "none";
        }

        function profile() {
            if (document.getElementById("profile").style.display == "block") {
                document.getElementById("profile").style.display = "none";
            } else {
                document.getElementById("profile").style.display = "block";
            }
        }
    </script>

    <!--    Header  -->

    <div class="header_subcontainer1">
        <button class="header_button" onclick="sidebar_open()">☰</button>
        <div class="header_logo">
            <a href="/"><img src="/media/logos/logoLandscape.png" alt="LOGO" id="header_logo"></a>
        </div>
        <div class="header_profile">
            <% if (locals.loggedUser){ %>
                <img src="/users/<%= locals.loggedUser.avatar %>" alt="LogoL" id="header_profile" onclick="profile()" id="profile">
                <% } else { %>
                    <a href="/users/login"><img src="/img/user_default/default.png" alt="LogoN" id="header_profile"></a>
                    <% } %>
        </div>
    </div>
    <div class="header_subcontainer2">
        <div class="header_search">
            <form action="/products/search" method="GET" class="header_form">
                <input type="text" name="header_search" placeholder="Buscar" class="header_searchBox">
            </form>
        </div>
    </div>


    <!--    Hamburguer Pop-up   -->

    <section class="header_burguer_popUp" style="display:none" id="mySidebar">
        <button onclick="sidebar_close()">Close &times;</button>
        <ul>
            <li>Home</li>
            <li>Descartables</li>
            <li>Papeleria</li>
            <li>Higiene</li>
            <li>Acerca-de</li>
            <li>Contacto</li>
        </ul>
    </section>


    <!--    User Pop-up -->

    <% if (locals.loggedUser){ %>
        <section class="header_popUp" id="profile">
            <div class="profile_block1">
                <img src="/users/<%= locals.loggedUser.avatar %>" alt="LogoL" class="profile_popUpAvatar">
                <div class="profile_mainInfo">
                    <p class=" profile_name">
                        <%= locals.loggedUser.name %>
                    </p>
                </div>
            </div>
            <div class="profile_block2">
                <button type="submit">Perfil</button>
                <button type="submit">Cerrar sesion</button>
            </div>
        </section>
        <% } %>



</section>