<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Carrito"}) %>

<body>
    
    <%- include('../partials/header/header.ejs') %>

    <main>

        <div class="carrito_container">

            <div class="subheader_carrito">
                <div class="logo_carrito"><i class="fas fa-shopping-cart logo_posta_carrito"></i></div>

                <div class="titulo_carrito"><div class="titulo_escrito_carrito ">Mi carrito</div></div>
            </div>
            

            <section class="contenido_carrito">

                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/misionImg.jpg" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>

                    <div class="botones_individuales_carrito">

                        <div class="eliminar_producto_carrito">
                            <button type="submit" class="boton_eliminar_carrito"><i class="fas fa-trash tamaño_icono_delete_carrito"></i></button>
                        </div>

                        <div class="cantidad_carrito">
                            <label for="cantidad_carrito">Cantidad</label>

                            <select name="cantidad_carrito" id="cantidad_carrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                             </select> 
                        </div>
                    </div>
                    
                </div>

                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/portal_gun.png" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>

                    <div class="botones_individuales_carrito">

                        <div class="eliminar_producto_carrito">
                            <button type="submit">Eliminar</button>
                        </div>

                        <div class="cantidad_carrito">
                            <label for="cantidad_carrito">Cantidad</label>

                            <select name="cantidad_carrito" id="cantidad_carrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                             </select> </div>
                    </div>
                    
                </div>

                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/portal_gun.png" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>

                    <div class="botones_individuales_carrito">

                        <div class="eliminar_producto_carrito">
                            <button type="submit">Eliminar</button>
                        </div>

                        <div class="cantidad_carrito">
                            <label for="cantidad_carrito">Cantidad</label>

                            <select name="cantidad_carrito" id="cantidad_carrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                             </select> </div>
                    </div>
                    
                </div>

                <div class="producto_carrito">
                    <div class="imagen_carrito"><img class="imagen_posta_carrito" src="img/portal_gun.png" alt=""></div>
                    <div class="descripcion_carrito">
                        <p class="nombre_producto">Portal Gun</p>
                        <p class="descripcion_producto">The Handheld Portal Device is designed to create and place portals on any white surface that is immobile, flat and large enough. When the device is fired, a colored projectile will be emitted from the barrel. If the projectile strikes a valid surface, a portal of the corresponding color will be formed. If a portal of the other color is already placed, these two portals will be linked.</p>
                    </div>

                    <div class="botones_individuales_carrito">

                        <div class="eliminar_producto_carrito">
                            <button type="submit">Eliminar</button>
                        </div>

                        <div class="cantidad_carrito">
                            <label for="cantidad_carrito">Cantidad</label>

                            <select name="cantidad_carrito" id="cantidad_carrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                             </select> </div>
                    </div>
                    
                </div>
                
                <div class="botones_final_carrito">
                    <button class="borrar_carrito">Eliminar</button>
                    <button class="pagar_carrito">Proceder a medios de pago</button>
                </div>
                
            </section>
        </div>
       

    </main>

    <%- include('../partials/footer.ejs') %>

    
</body>

</html>