<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs', {title: "Baggu: Creación productos"}) %>

    <body>
    	<%- include('../partials/header.ejs') %>
		

		<form method="POST" action="/products/create" class="formularioRegiaster">
			
			<div class="logoPrincipal">
				<h2>Creación de productos</h2>
			</div>
			<div class="otrosDatos">
				<label for="id">
					<span> ID:</span>
					<input type="text" name="id" id="id">
				</label>
				<!-- <label for="image">
					<span> Url de imagen de producto</span>
					<input type="text" name="image" id="image">
				</label> -->
				<div class="fotoRegister">
					<label for="image">Select a file:</label>
					<input type="file" id="image" name="image">
				</div>

				<label for="name">
					<span> Product name</span>
					<input type="text" name="name" id="name">
				</label>
				<label for="description">
					<span> Product Description</span>
					<input type="text" name="description" id="description">
				</label>
				<label for="name">
					<select name="category" id="category">
						<option value="1">Papel</option>
						<option value="2">Carton</option>
						<option value="3">Materia oscura</option>
					</select>
				</label>
				<label for="price">
					<span> Product price</span>
					<input type="text" name="price" id="price">
				</label>
				

				<!-- <div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="name">
						<span> Product name</span>
						<input type="text" name="name" id="name">
					</label>
				</div>
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="description">
						<span>Description</span>
						<input type="text" name="description" id="description">
					</label>
				</div>
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="category">
						<span>Category</span>
						<select name="category" id="category">Category</select>
						<option value="1">Seller</option>
						<option value="2">Buyer</option>
						<option value="3">God</option>
					</label>
				</div>

				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="precio">
						<span>price</span>
						<input type="number" name="precio" id="precio">
					</label>
				</div>

				<div class="fotoRegister">
					!--<label for="myfile">Select a file:</label>->
					<input type="file" id="fotoProducto" name="fotoProducto">
				</div> -->
			</div>
			<div class="Enviar">
				<button type="submit">Submit</button>
			</div>
		</form>



        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>