<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Detalle"}) %>

<body class="bc_detalle">

    <main>
        
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/detail_partial.ejs', {  id: products.id ,category: products.category, titulo: products.name, image: products.image, type: products.type, description: products.description, price: products.price }) %> 

        <%- include('../partials/footer.ejs') %>
        
    </main>

</body>

</html>