<!DOCTYPE html> <!--Version HTML 5--> 
<html lang="en"><!--Contenido de programacion en ingles-->

    <%- include('../partials/head.ejs', {title: "Baggu: Productos"}) %>

<body>
    
    
    <div class="content">

        
        <%- include('../partials/header/header.ejs') %>
        <main>
            
            <div class="products_container">

            <div class="products_subcontainer">         

                
                <% for( var i=0; i<products.length; i++){                                                          %>
                    <%- include('../partials/product_partial.ejs', {id: products[i].id ,image: products[i].image ,title: products[i].name , description: products[i].description ,price: products[i].price }) %>
                    <% }                                                                                               %>        

                    
                    
                </div>

            </div>
            
            
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </div>

</body>
</html>