<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs', {title: "Baggu: Creación productos"}) %>

    <body>
    	<%- include('../partials/header.ejs') %>
		

        <form class="formularioRegiaster">
			<div class="logoPrincipal">
				<h2>Creación de productos</h2>
			</div>
			<div class="otrosDatos">
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="nombreProducto">
						<span>Name product</span>
						<input type="text" name="nombreProducto" id="nombreProducto">
					</label>
				</div>
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="categoria">
						<span>Category</span>
						<input type="text" name="categoria" id="categoria">
					</label>
				</div>
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="tipo">
						<span>kind</span>
						<input type="text" name="tipo" id="tipo">
					</label>
				</div>

				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="precio">
						<span>price</span>
						<input type="number" name="precio" id="precio">
					</label>
				</div>

				<div class="fotoRegister">
					<!--<label for="myfile">Select a file:</label>-->
					<input type="file" id="fotoProducto" name="fotoProducto">
				</div>
			</div>
			<div class="Enviar">
				<button type="submit">Submit</button>
			</div>
		</form>



        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>