<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Detalle"}) %>

<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/detalle_partial.ejs', {  category: products[ 2 ].category, titulo: products[ 2 ].titulo, image: products[ 2 ].image, type: products[ 2 ].type, description: products[ 2 ].description, price: products[ 2 ].price }) %> 

    

    <%- include('../partials/footer.ejs') %>

    
</body>

</html>