<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Register"}) %>

<body>
    <%- include('../partials/header.ejs') %>

    <form method="POST" action="/users/register">

        <label for="id">
            <span> ID:</span>
            <input type="text" name="id" id="id">
        </label>
        <label for="avatar">
            <span> Avatar:</span>
            <input type="text" name="avatar" id="avatar">
        </label>
        <label for="user">
            <span> Usuario:</span>
            <input type="text" name="user" id="user">
        </label>
        <label for="surname">
            <span> Apellido:</span>
            <input type="text" name="surname" id="surname">
        </label>
        <label for="email">
            <span> Email:</span>
            <input type="email" name="email" id="email">
        </label>
        <label for="password">
            <span> Contraseña:</span>
            <input type="password" name="password" id="password">
        </label>
        <label for="category">
            <select name="category" id="category">
                <option value="1">Comprador</option>
                <option value="2">Vendedor</option>
                <option value="3">Dios</option>
            </select>
        </label>
        <button type="submit">Enviar</button>
    
    </form>

    <%- include('../partials/footer.ejs') %>
</body>
</html>