<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title: "Baggu: List"}) %>

<body>
    
    <%- include('../partials/header.ejs') %>

    <main>
        
        <h1 class="title_list">Users List</h1>

        <section class="user_group_container">

            <%  for (let i=0; i<users.length; i++) {        %>
            <%-     include('../partials/user_partial.ejs', {id: users[i].id, avatar: users[i].avatar, user: users[i].user, name: users[i].name, surname: users[i].surname, email: users[i].email, password: users[i].password, category: users[i].category}) %>
            <%  }                                           %>
        </section>
                
        <h2>Search</h2>
        <form action="/search" method="GET">
            <input type="text" name="search">
            <input type="submit" value="search">
        </form>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>