<!DOCTYPE html>
<html lang="es">
	
	<!--Head-->
	<%- include('../partials/head.ejs', {title: "Baggu: Login"}) %>


    <body>
		<!--Header-->
    	<%- include('../partials/header.ejs') %>
		

        <main class="cuentaLogin"><!--General-->
			<div class="tituloLogin"><!--Titulo-->
				<i class="fas fa-user"></i><h1>Login</h1>
			</div>
			<form action="#" method="POST" class="campoLogin"><!--FormularioLogin-->
				<div class="subCampoLogin">
					<label for="email">Usuario / Email:</label>
					<input type="text" id="email" name="email" placeholder="Your name">
				</div>
				<div class="subCampoLogin">
					<label for="contrasena">Contraseña:</label>
					<input type="password" id="contrasena" name="contrasena" placeholder="Your password">
				</div>
				<div class="recordarmeLogin">
					<div class="animado">
						<input type="checkbox" name="check" id="check" required="">
						<label class="beta" for="check">Recordarme</label>
					</div>
				</div>
			</form>
			<div class="botonLogin"><!--Botones-->
				<button type="submit">Recuperar Contraseña</button>
				<div>
					<button type="submit">Ingresar</button><i class="fas fa-sign-in-alt"></i>
				</div>
			</div>
		</main>

		<!--Footer-->
		<%- include('../partials/footer.ejs') %>
    	
		<script src="js/bootstrap.min.js"></script>
    </body>

</html>