<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title: "Baggu: User"}) %>

<%- include('../partials/header.ejs') %>

<main>
    <%  let i = 2       %>
    <%- include('../partials/userDetail.ejs', {id: users[i].id, avatar: users[i].avatar, user: users[i].user, name: users[i].name, surname: users[i].surname, email: users[i].email, password: users[i].password, category: users[i].category}) %>
    

</main>


<%- include('../partials/footer.ejs') %>


<body>
    
</body>
</html>