<div class="headerContainer">

    <div class="logoContainer">
        <a href="/"><img class="imgHeader" src="/media/logos/logoLandscape.png" alt="Logo Baggu"></a> 
    </div>

    <div class="noLogoContainer">
        <section class="searchHeader">
            <div class="md-form active-cyan active-cyan-2 mb-3">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </section>

        <section class="optionsHeader">
            <span class="optionHeader"><a href="/users/login">Login</a></span>
            <span class="optionHeader"><a href="/users/register">Register</a></span>
            <span class="optionHeader"><a href="/carrito">Carrito</a></span>
            <span class="optionHeader"><a href="/users">Usuarios</a></span>
        </section>
    </div>
</div>