<section class="product_container">

    <div class="product_image"><img class="product_image" src="img/portal_gun.png" alt=""></div>

    <div class="product_title"> <%= title %> </div>

    <div class="product_description"> <%= description %> </div>

    <div class="product_options">

        <i class="fas fa-share product_icon"></i>

        <i class="fas fa-cart-plus product_icon"></i>

        <i class="fas fa-dollar-sign product_icon"></i>

    </div>

</section>